* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
/*Header*/
.edamodastyleru {
    padding-top: 24px;
    text-align: center;
}
.edamodastyleru a {
    width: 254px;
    height: 47px;
    opacity: 0.84;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.category-drop {
    padding-top: 24px;
    width: 940px;
    margin: 0 auto;
}
.menu-item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 27px;
}
.menu-item a {
    height: 19px;
    opacity: 0.6;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    text-transform: uppercase;
}
.menu-item a:hover {
    opacity: 1.6;
}
#about {
    padding-bottom: 16px;
    text-align: left;
    width: 940px;
    height: 100%; /* высота для наглядности */
    background: white; /* цвет блока для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
    padding-top: 40px;
}
.about-content img {
    width: 940px;
}
.about-content p {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #888e95;
    padding-bottom: 20px;
}
.about-content a {
    color: #2c3137;
    font-weight: 600;
}
.about-content a:hover {
    color: #2c3137;
    font-weight: 400;
}
.titlef p {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 13px;
    color: #888e95;
}

