.imgtext figure {
    padding-top: 0 !important;
}
.imgtext img {
    /*width: 100% !important;*/
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.imgtext figcaption {
    padding-top: 20px;
}
@media (min-width: 950px) {
    .imgtext  .layout-column-1 {
        width: 100% !important;
    }
    .imgtext  .layout-column-2 {
        width: 100% !important;
        padding-left: 10px;
    }
}
@media (min-width: 480px) and (max-width: 949px) {
    .imgtext p {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .imgtext  .layout-column-1 {
        width: 43% !important;
        padding-right: 0 !important;
    }
    .imgtext  .layout-column-2 {
        width: 43% !important;
        padding-right: 0 !important;
    }
}
@media (min-width: 0px) and (max-width: 479px) {
    .imgtext p {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .imgtext  .layout-column-1 {
        width: 43% !important;
        padding-right: 0 !important;
    }
    .imgtext  .layout-column-2 {
        width: 43% !important;
        padding-right: 10px !important;
    }
}