* {
    margin: 0;
    padding: 0;
}
body {
    background:#fff;
    font-family: "FuturaPT-Light";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gotham Pro';
    font-weight: 400;
    color: #333;
}
.wp-block-image figcaption {
    margin-top: -0.1em !important;
    color: rgba(0,0,0,.64) !important;
    text-align: center !important;
    font-size: 18px !important;
}
#head_bottom a {
    color: #888e95;
    text-decoration: none;
}
#content a {
    text-decoration: none;
    /*color: #333333;*/
    font-weight: 400;
}
#content a:hover{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    text-shadow: 0 0 1px black;
}
a {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
/*Header*/
.edamodastyleru {
    padding-top: 24px;
    text-align: center;
}
.edamodastyleru a {
    width: 254px;
    height: 47px;
    opacity: 0.84;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.category-drop {
    padding-top: 24px;
    width: 940px;
    margin: 0 auto;
}
.menu-item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 28px;
}
.menu-item a {
    height: 19px;
    opacity: 0.6;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    text-transform: uppercase;
}
.menu-item a:hover {
    opacity: 1.6;
}
/*bg*/
.dispayn {
    padding-top: 34px;
}
.bglayout {
    height: 500px;
    background-size: cover;
    background-blend-mode: multiply, multiply;
}
.desclayout {
    padding-top: 120px;
}
.catalogtitle p {
    width: 553.5px;
    text-align: center;
    font-family: "ProximaNova-Regular";
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 auto;
}
.fishcacatalog {
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
}
.fishcacatalog p {
    opacity: 0.5;
    font-family: "ProximaNova-Regular";
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.btncat {
    width: 186px;
    margin: 0 auto;
}
.podr {
    border-radius: 40px;
    border: solid 1px #fffe90;
    margin: 0 auto;
    text-align: center;
}
.podr p {
    padding-bottom: 14px;
    padding-top: 14px;
}
.podr i {
    padding-left: 10px;
    vertical-align: -1px;
}
.btncat a {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #ffffff;
}
/*Description*/
.descriptioncaral {
    padding-top: 40px;
    width: 940px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.desccol p {
    opacity: 0.84;
    font-family: "FuturaPT-Light";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
}
.leftcolums {
    /*float: left;*/
    display: inline-block;
    width: 39%;
    vertical-align: top;
}
.rigthcolums {
    display: inline-block;
    width: 55%;
    text-align: right;
}
.streetsingle2 img {
    display: inline-block;
    padding-right: 9px;
}
.streetsingle2 p {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #000000;
}
.mapcatalog {
    /*float: right;*/
}
.phonecat2 {
    padding-top: 15px;
}

.phonecat2 a {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.corpdopphone {
    padding-top: 14px;
}
.corpdopphone a {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.corpdopphone p {
    opacity: 0.5;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.mailcorp {
    padding-top: 21px;
}
.mailcorp a {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: right;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.hidecontacts {
    /* display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #000000; */
}
/*Content*/
#content {
    padding-bottom: 70px;
}
.wp-block-columns {
    width: 940px;
    margin: 0 auto;
}

#content h2 {
    text-align: center;
    padding-top: 35px;
    font-family: "ProximaNova-Regular";
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
        color: #000000;
    padding-bottom: 30px;
}
#content h1 {
    text-align: center;
    padding-top: 35px;
    font-family: "ProximaNova-Regular";
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.94);
    padding-bottom: 23px;
}
#content p {
    margin: 0 auto;
    padding-bottom: 15px;
    opacity: 0.84;
    font-family: "FuturaPT-Light";
    font-size: 18pt;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
}
@media (min-width: 949px){
    #content p {
        width: 740px;
    }
}
#content img {

    margin: 0 auto;
}
.wp-block-image {
    margin: 0 auto !important;
}
.wp-block-columns.has-3-columns.vert {
    grid-auto-columns: max-content !important;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 37px;
}
.vert .layout-column-2 {
    padding-left: 32px;
    padding-right: 32px;
}
.wp-block-columns p {
    width: fit-content !important;
    opacity: 0.84;
    font-family: "FuturaPT-Light";
    font-size: 18px;
}
.prox {
    font-family: "ProximaNova-Regular" !important;
}
.wp-block-image {
    padding-top: 20px;
}
/*Colors*/
.has-luminous-vivid-amber-color {
    color: #fffe90 !important;
}
.has-vivid-red-color {
    color: #eb5757 !important;
}
.has-pale-pink-color {
    color: rgb(247, 141, 167) !important;
}
.has-luminous-vivid-orange-color {
    color: rgb(255, 105, 0) !important;
}
.has-light-green-cyan-color {
    color: rgb(123, 220, 181) !important;
}
.has-vivid-green-cyan-color {
    color: rgb(0, 208, 132) !important;
}
.has-pale-cyan-blue-color {
    color: rgb(142, 209, 252) !important;
}
.has-vivid-cyan-blue-color {
    color: rgb(6, 147, 227) !important;
}
.has-very-light-gray-color {
    color: rgb(238, 238, 238) !important;
}
.has-cyan-bluish-gray-color {
    color: rgb(171, 184, 195) !important;
}
.has-very-dark-gray-color {
    color: rgb(49, 49, 49) !important;
}
.has-light-green-cyan-color  > A { /* Дочерний селектор */
    color: rgb(123, 220, 181);
}
.has-luminous-vivid-amber-color > A {
    color: rgb(252, 185, 0);
}
.has-luminous-vivid-orange-color > A {
    color: rgb(255, 105, 0);
}
.has-vivid-red-color > A {
    color: rgb(207, 46, 46);
}
.has-pale-pink-color > A {
    color: rgb(247, 141, 167);
}
.has-pale-pink-color > A {
    color: rgb(247, 141, 167);
}
.has-vivid-green-cyan-color > A {
    color: rgb(0, 208, 132);
}
.has-pale-cyan-blue-color > A {
    color: rgb(142, 209, 252);
}
.has-vivid-cyan-blue-color > A {
    color: rgb(6, 147, 227);
}
.has-very-light-gray-color > A {
    color: rgb(238, 238, 238);
}
.has-cyan-bluish-gray-color > A {
    color: rgb(171, 184, 195);
}
.has-very-dark-gray-color > A {
    color: rgb(49, 49, 49);
}
/*Gallery*/
.gall {
    margin-top: -2px;
    padding-bottom: 6px;
}
.bwg_standart_thumbnails_0 {
    margin-bottom: -43px;
}
.mapsector {
    margin-top: -5px;
}
/*quote*/
.wp-block-quote {
    width: 940px;
    margin: 0 auto;
}
.wp-block-quote p {
    margin: initial !important;
    padding: 0 !important;
    padding-left: 50px !important;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #faffdf, #faffdf);
    display: initial !important;
    color: black !important;
    opacity: 1 !important;
}
.wp-block-quote cite, .wp-block-quote footer {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #faffdf, #faffdf);
    display: table;
    margin: 0 !important;
    padding-right: 20px;
}
.video-gallery {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}
/*Social*/
.socialcatalog {
    padding-top: 21px;
}
.vk {
    display: inline-block;
}
.facebook {
    padding-left: 18px;
    display: inline-block;
}
.instagram {
    padding-left: 18px;
    display: inline-block;
}
glyph {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -4px;
}
glyph.facebooksvg {
    -webkit-mask: url(../img/icons/soc/facebook.svg) no-repeat 100% 100%;
    mask: url(../img/icons/soc/facebook.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #000000;
}
glyph.instagramsvg {
    -webkit-mask: url(../img/icons/soc/instagram.svg) no-repeat 100% 100%;
    mask: url(../img/icons/soc/instagram.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #000000;
}
glyph.vksvg {
    -webkit-mask: url(../img/icons/soc/vk.svg) no-repeat 100% 100%;
    mask: url(../img/icons/soc/vk.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #000000;
}
.layvk {
    border: 1px solid #000000;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-top: 13px;
}
.layvk:hover {
    box-shadow: 0 0 8px 0px black;
    background-color: #000000;
}
.layfacebook {
    border: 1px solid #000000;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-top: 13px;
}
.layfacebook:hover {
    box-shadow: 0 0 8px 0px black;
    background-color: #000000;
}
.layinstagram {
    border: 1px solid #000000;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-top: 13px;
}
.layinstagram:hover {
    box-shadow: 0 0 8px 0px black;
    background-color: #000000;
}
.related-postscat {
    width: 940px;
    background: white;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.line-leftcat {
    width: 39%;
    display: inline-block;
}
.line-rigthcat {
    width: 39%;
    display: inline-block;
}
.relatedtitlecat {
    display: inline-block;
    padding-left: 30px;
    padding-right: 23px;
}
.relatedtitlecat p {
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    color: #888e95;
}
@media (max-width: 949px) and (min-width: 520px) {
    .line-leftcat {
        width: calc(34% - 3px) !important;
    }
    .line-rigthcat  {
        width: calc(34% - 3px) !important;
    }
}
@media (max-width: 519px) and (min-width: 0px) {
    .line-leftcat {
        width: calc(32% - 30px) !important;
    }
    .line-rigthcat {
        width: calc(32% - 30px) !important;
    }
}
@media (max-width: 949px) {
    .related-postscat {
        width: 100% !important;
        margin: 0 auto;
        text-align: center;
    }
    .relatedtitlecat {
        padding-left: 24px !important;
        padding-right: 22px !important;
    }
    .relatedtitlecat p {
        font-family: 'PT Sans', sans-serif !important;
        font-size: 12px !important;
        color: #000000 !important;
        font-weight: normal !important;
    }
    .line-rigthcat {
        float: right;
        margin-top: 10px;
    }
    .line-leftcat {
        float: left;
        margin-top: 10px;
    }
}