
.has-background {
    display: -webkit-box;
    padding: 10px;
    margin-top: 15px;
}
/*Dropbox header*/
.wrapper-dropdown-5 {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    color: #2c3137;
    position: relative;
    width: 75px;
    padding: 12px 11px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -3px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000000d1 transparent;
}

.wrapper-dropdown-5 .dropdown {
    position: absolute;
    top: 100%;
    left: 7px;
    right: -20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.06); */
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    z-index: 350;
}

.wrapper-dropdown-5 .dropdown li {
    padding-right: 4px;
    padding-left: 4px;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    font-family: 'Lucida Grande';
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    color: #888e95;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}
#dd .dropdown li a:hover {
    color: #2c3137;
}
#dd .current-menu-item a {
    color: #2c3137;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */
.wrapper-dropdown-5.active {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background: #ffffff;
    box-shadow: none;
    border-bottom: none;
    color: black;
}

.wrapper-dropdown-5.active:after {
    border-color: #000000 transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
    box-shadow: 0 0 17px -6px black;
}

/*========Справой стороны===================*/
.wrapper-dropdown-7 {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    position: relative;
    padding-left: 12px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.wrapper-dropdown-7 .dropdown {
    position: absolute;
    top: 100%;
    left: 7px;
    right: -20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.06); */
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    z-index: 350;
}

.wrapper-dropdown-7 .dropdown li {
    padding-right: 4px;
    padding-left: 4px;
}

.wrapper-dropdown-7 .dropdown li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-7 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-7 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-dropdown-7 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */
.wrapper-dropdown-7.active {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background: #ffffff;
    box-shadow: none;
    border-bottom: none;
    color: black;
}

.wrapper-dropdown-7.active:after {
    border-color: #000000 transparent;
}

.wrapper-dropdown-7.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
}


/*================================================================
*Шапка категорий
 */
#header_cat {
    padding-top: 12px;
    padding-bottom: 16px;
    text-align: left;
    width: 940px;
    height: 100%; /* высота для наглядности */
    background: white; /* цвет блока для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
.catalog-header {
    padding-bottom: 18px;
    padding-top: 20px;
    text-align: left;
    width: 940px;
    height: 100%; /* высота для наглядности */
    background: white; /* цвет блока для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
#header_cat .left-head {
    display: inline-block;
}
#header_cat .rigth-head {
    margin-right: -100%;
    padding-left: 77%;
    display: inline-block;
}
.rigth-head .search_icon-head {
    display: inline-block;
}
.rigth-head .tog-head {
    display: inline-block;
}
.left-head .logo-cat {
    width: 37px;
    height: 38px;
    border-radius: 10px;
    border: solid 2px #000000;
    display: inline-block;
}
.left-head .category-drop {
    display: inline-block;
    vertical-align: 4px;
}
.left-head .logo-e {
     height: 17px;
    padding-left: 9px;
    mix-blend-mode: undefined;
    font-size: 30px;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: -0.3;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
/*Линии*/
.line-head {
    height: 1px;
    opacity: 0.05;
    mix-blend-mode: undefined;
    background-color: #000000;
}
.search_icon-head {
    cursor: pointer;
    background-color: #ffef94;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top: 6px;
    padding-right: 6px;
    border-radius: 32px;
    vertical-align: 5px;
}
.search_icon-head img {
    width: 14px;
    height: 14px;
}
.tog-head img {
    width: 28px;
}

.wrap {

}
.left, .right {
    display: inline-block;
    width: 100%;
    margin-right: -100%;
    /*vertical-align: bottom;*/
}
.right {
    text-align: right;
}
.left a, .right a { display: inline-block; position: relative; }
.left a {
    font-family: 'Gotham Pro';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    letter-spacing: normal;
    text-align: left;
    color: #2c3137;
}
/*==========Правый блок==========*/
.right a {
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.14;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}
.rigth-child-cat li {
    text-decoration: none;
    display: inline-block;
}
.rigth-child-cat hr {
    width: 2px;
    align: center;
    size: 50px;
    color: #1E90FF;
}
.rigth-child-cat {
    display: inline-block;
}
.rigth-child-cat a {
    color: #888e95;
}
.rigth-child-cat .current-menu-item a {
    color: #2c3137;
    font-weight: 600;}
.vline-end {
    display: inline-block;
    vertical-align: -19px;
    padding-right: 7px;
    height: 48px;
    border-left: 1.5px solid #d2d2d273;
}
.rigth-child-cat .vline{
    padding-right: 27px;
    padding-left: 27px;
    border-left: 1.5px solid #d2d2d273;
}
.cat-map .cat-a {
    padding-right: 4px;
    color: #2c3137;
}
.cat-map p {
    color: gray;
    display: inline-block;
    font-size: 26px;
    vertical-align: -3px;
}
.cat-map .map-a {
    padding-left: 7px;
    color: #888e95;
}

/*==========Фильтры================*/
.global-filter {
    border-bottom: 1px solid #00000005;
    border-top: 1px solid #00000005;
    background-color: #f7f7f8;
}
.filter {
    background-color: #f7f7f8;
    padding-top: 12px;
    padding-bottom: 16px;
    text-align: left;
    width: 940px;
    height: 100%;
    margin: 0 auto;
}
/*Контент каталогов*/
#catalog-side {
    padding-bottom: 18px;
    text-align: left;
    /*width: 940px;*/
    height: 100%;
    background: white;
    margin: 0 auto;
}
#catalog-side .catalog-content {
    width: 940px;
    padding-top: 53px;
    width: 940px;
    padding-top: 53px;
    background: white;
    margin: 0 auto;
    padding-bottom: 500px;
}
#catalog-side .catal-img {
    width: 50%;
    float: left;
}
#catalog-side .metacatalog {
    width: 50%;
    float: right;
}
#catalog-side .catal-img img {
    /*max-width: 100%;*/
    /*height: 450px;*/
}
#catalog-side .imgcat {
    background-position: center bottom;
    height: 450px;
    background-size: cover;
}
/*Правая часть*/
#catalog-side .cont {
    padding-left: 60px;
}
.headcont-catalog {
    padding-bottom: 38px;
}
#catalog-side .cont .street-cat {
    display: inline-block;
}
#catalog-side .cont .street-cat img{
    width: 20px;
    height: 25px;
    display: inline-block;
}
#catalog-side .cont .street-cat p{
    display: inline-block;
}
#catalog-side .cont .map-cat {
    float: right;
    display: inline-block;
}
.metacatalog .titmaplie {
    display: inline-block;
    text-transform: uppercase;
}
.metacatalog .strelamap {
    padding-left: 14px;
    vertical-align: 10px;
    display: inline-block;
}
.headcont-catalog p {
    font-family: 'Gotham Pro';
    font-size: 16.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    padding-left: 10px;
    vertical-align: 2px;
    letter-spacing: normal;
    text-align: left;
    color: #2c3137;
}
.titmaplie .nakart {
    /*padding-bottom: 8px;*/
}
.titmaplie .nakart a {
    font-family: 'Gotham Pro';
    font-size: 16.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #2c3137;
}
.title-catalog {
    padding-bottom: 20px;
}
.title-catalog .title-catalogsub a {
    font-family: 'Gotham Pro';
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: left;
    color: #2c3137;
    text-transform: uppercase;
}
.time-work {
    padding-bottom: 20px;
}
.time-work p {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.89;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.checkmest .check-catalog {
    display: inline-block;
    border-radius: 17px;
    background-color: #fffe90;
    padding-left: 12px;
    padding-right: 12px;
}
.checkmest .check-catalog p {
    font-family: 'Gotham Pro';
    font-size: 15.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #2c3137;
}
.checkmest .vmest-catalog {
    display: inline-block;
}
.checkmest .checkis {
    padding-right: 15px;
    display: inline-block;
}
.checkmest .vmest-catalogsub {
    border-radius: 17px;
    border: solid 2px #000000;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}
.checkmest .vmest-catalogsub p {
    font-family: 'Gotham Pro';
    font-size: 15.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: left;
    color: #2c3137;
}
.checkmest {
    cursor: default;
    padding-bottom: 20px;
}
.catalog-conkuh {
    cursor: default;
    padding-bottom: 25px;
}
.titconkuh {
    font-family: 'Gotham Pro';
    font-size: 14.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #888e95;
}
.catalog-conkuh .ti {
    display: inline-block;
}
.catalog-conkuh .titles-kuh {
    display: inline-block;
}
.catalog-desc .descrtiption {
    line-height: 24px;
}
.catalog-desc {
    font-family: 'FuturaPT-Light';
    font-size: 18.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #888e95;
    cursor: default;
}

.osobenosty{
    font-family: 'Gotham Pro';
    font-size: 14.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #888e95;
    line-height: 24px;
}
.osobenosty .osobcat {
    display: inline-block;
}
.osobenosty .osob {
    display: inline-block;
}
.view-catalog {
    font-family: 'Lucida Grande';
    font-size: 14px;
    color: #888e95;
    padding-right: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    padding-bottom: 20px;
}
.view-catalog img {
    padding-right: 4px;
    width: 16px;
    vertical-align: -2px;
    height: 16px;
}