.category_lent {
    padding-left: 0;
    padding-bottom: 70px;
    width: 756px;
    padding-top: 27px;
}
.category_lent a {
    color: #2c3137;
}
.category_lent .content_lenta {
    text-align: left;
}
.content-on-category {
        padding-left: 104px;
        width: 701px;
}
/*Single Page*/

/*Search Page*/
/*.search_content {*/
    /*padding-left: 0;*/
    /*padding-bottom: 70px;*/
    /*width: 756px;*/
    /*padding-top: 50px;*/
/*}*/
/*.search_content a {*/
    /*color: #333;*/
/*}*/
/*.search_content .content_lenta{*/
    /*text-align: left;*/
/*}*/