#content_news {
    padding-top: 27px;
    padding-bottom: 80px;
}
.news_post a { color: #2c3137; }
.news_post a:focus { text-decoration: none; color: #2c3137; }
.news_post a:hover { text-decoration: none; color: #2c3137; }
#sidebar a:focus { text-decoration: none; }
#sidebar a:hover { text-decoration: none; }

.news {
    padding-bottom: 50px;
}
#content_news .one {
    text-align: left;
    margin-right: 31px;
    /*overflow: hidden;*/
    display: inline-block;
    width: 71%;
}
#content_news .news_post {
    border-radius: 5px;
}
#content_news .sidebar {
    float: right;
    display: inline-block;
    width: 25%;
}
#content_news .img_news img{
    border-radius: 5px;
    width: 100%;
}
#content_news .title_new {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 1px;
    padding-right: 50px;
}
#content_news .content_news {
    padding-left: 45px;
    padding-top: 24px;
    padding-bottom: 45px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 43px 94px 0px #efefef;
}
#content_news .desc_news {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: #888e95;
    padding-bottom: 15px;
    padding-right: 19px
}
.cat {
    display: inline-block;
}
.date {
    font-family: 'Lucida Grande';
    font-size: 12px;
    color: #888e95;
    padding-right: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.view {
   font-family: 'Lucida Grande';
    font-size: 12px;
    color: #888e95;
    padding-right: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.author {
    font-family: 'Lucida Grande';
    font-size: 12px;
    color: #888e95;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.category_button {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 10px;
    padding: 0.6em 1.2em;
    color: black;
    background-color: #fffe90;
    border-radius: 34px;
    text-transform: uppercase;
}
.cat {
    padding-right: 20px;
}


/*Генератор*/
#block {
    border-radius: 10px;
}
#block .gen_title{
    font-family: 'Lucida Grande';
    font-size: 12px;
    color: #ffffffd6;
    padding-top: 16px;
    padding-bottom: 71px;
}
#block .gen_content{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-size: 26px;
    color: white;
    line-height: 40px;
    padding-bottom: 75px;
    text-transform: uppercase;
}
.gen_button {
    padding-bottom: 58px;
}
.gen_button a {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 11px;
    padding: 0.8em 1.3em;
    color: #2c3137;
    background-color: #ffe96f;
    border-radius: 34px;
    text-transform: uppercase;
    text-decoration: none;
}
.gen_button a:hover {
    font-family: "Gotham Pro";
    font-weight: bold;
    font-size: 11px;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.55em 1.4em;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(228, 212, 120);
    border-image: initial;
    border-radius: 34px;
    text-decoration: none;
}

/*Популярные посты*/
.popular {
    padding-top: 12px;
    text-align: left;
}
.popular .single_pop {
    padding-top: 30px;
}
.single_pop hr {
    border: none;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
    background-color: #ddd;
}
.popular a {
    color: #2c3137;
}
.popular .title_pop {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.popular .category_pop {
    font-family: 'Gotham Pro';
    font-weight: bold;
    padding-right: 43px;
    font-size: 10px;
    color: #2c3137;
    text-transform: uppercase;
    display: inline-block;
}
.popular .view_pop {
    font-family: 'Lucida Grande';
    font-weight: bold;
    color: #888e95;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.view_pop i {
    padding-right: 8px;
}
.popular .bottom_pop {
    padding-bottom: 12px;
}
/*Баннер*/
.banner_sidebar {
    padding-top: 35px;
}
.banner_sidebar .side {
    border-radius: 10px;
}
.banner_sidebar .banner_title {
    font-family: 'Gotham Pro';
    font-weight: bold;
     font-size: 36px;
    word-wrap: break-word;
    padding-right: 8px;
    color: white;
    line-height: 1;
    /*padding-top: 13px;*/
    /*padding-bottom: 17px;*/
    padding-top: 55px;
    padding-bottom: 20px;
}
.banner_sidebar .banner_content {
    padding-left: 23px;
    text-align: left;
}
.banner_sidebar .bar_desc {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    padding-right: 10px;
    color: white;
    line-height: 1;
    padding-bottom: 39px;
}
.banner_sidebar .bar_button {
    padding-bottom: 40px;
}
.banner_btn {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 10px;
    padding: 0.5em 1.3em;
    color: #2c3137;
    background-color: #fffe90;
    border-radius: 34px;
    text-transform: uppercase;

}
.banner_btn:hover {
    font-family: "Gotham Pro";
    font-weight: bold;
    font-size: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.45em 1.3em;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(228, 212, 120);
    border-image: initial;
    border-radius: 34px;
}

/*Лента*/
#content_lenta a {
    text-decoration: none;
    color: #2c3137;
}
#content_lenta {
    text-align: left;
    padding-top: 73px;
}
#header_lines {
    padding-bottom: 32px;
}
#header_lines p {
   font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 30px;
    display: inline-block;
}
#header_lines hr {
    border: 1px solid #ccc6;
    width: 80%;
    display: inline-block;
}
.line {
    border-left: 2px solid #ccc6;
    padding-left: 10px;
}

#content_lenta .lenta {
   
}
.single_lenta {
    padding-bottom: 70px;
}
.img_lenta img {
    width: 100%;
}
.content_lenta {
    padding-top: 24px;
    padding-bottom: 36px;
  
}
.content_lenta .title_lenta {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 2px;
    letter-spacing: -0.025em;
}
.title_lenta a {
    color: #2C3137;
}
.title_lenta a:hover {
    opacity: 0.8;
}
.content_lenta .desc_lenta {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    font-style: normal;
    color: #888e95;
    font-size: 20px;
    padding-bottom: 19px;
    padding-right: 19px;
    text-align: justify;
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
}
.footer_lenta .cat_lenta {
    padding-right: 20px;
    display: inline-block;
}
.view img {
    height: 16px;
    width: 16px;
    vertical-align: -3px;
    padding-right: 3px;
}
.view_pop img {
    height: 16px;
    width: 16px;
    vertical-align: -3px;
    padding-right: 3px;
}
.search_content {
    padding-top: 30px;
}
.search_content h2 {
    padding-bottom: 30px;
}
.divgbsingle {
    width: 100%;
    background-position: center center;
    height: 250px;
    background-size: cover;
}
.search_content .img_lenta {
    width: 1032px;
    margin: 0 auto;
    height: auto;
}
.category_lent .img_lenta  {
    width: 1032px;
    margin: 0 auto;
    height: auto;
}
.gradient_lenta {
    width: 940px;
    margin: 0 auto;
}
.category_lent {
    padding-top: 50px;
}
.linesearchcat {
    margin-top: 30px;
    height: 1px;
    background-color: #0000001a;
    border-style: none;
}