@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css";
.filter .selfil {
    padding-left: 12px;
}
.filter  .select {
    position: relative;
    display: inline-block;
}
.filter .select:after {
    content: "▼";
    padding-right: 20px;
    padding-top: 14px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.filter  select {
    font-size: 13px;
    border-radius: 26px;
    /*width: 223px;*/
    width: 200px;
    padding-right: 25px;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.filter select:focus {
    background-color: transparent;
    outline: none;}