.ld-content1 .aligncenter {
    text-align: -webkit-center;
}
.ld-content1 .alignright {
    text-align: -webkit-right;
}
.ld-content1 .alignleft  {
    text-align: -webkit-left;
}
.has-pale-pink-background-color {
    background-color: #f78da7;
}
.has-vivid-red-background-color {
    background-color: #cf2e2e;
}
.has-luminous-vivid-orange-background-color {
    background-color: #ff6900;
}
.has-luminous-vivid-amber-background-color {
    background-color: #fcb900;
}
.has-light-green-cyan-background-color {
    background-color: #7bdcb5;
}
.has-vivid-green-cyan-background-color {
    background-color: #00d084;
}
.has-pale-cyan-blue-background-color {
    background-color: #8ed1fc;
}
.has-vivid-cyan-blue-background-color {
    background-color: #0693e3;
}
.has-very-light-gray-background-color {
    background-color: #eee;
}
.has-cyan-bluish-gray-background-color {
    background-color: #abb8c3;
}
.has-very-dark-gray-background-color {
    background-color: #313131;
}

.wp-block-columns {
    padding-top: 30px;
}

.has-5-columns .layout-column-1{
    display: inline-block;
    vertical-align: top;
    width: 11%;
    padding-left: 20px;
    padding-right: 20px;
}
.has-5-columns .layout-column-2{
    display: inline-block;
    vertical-align: top;
    width: 11%;
    padding-left: 20px;
    padding-right: 20px;
}
.has-5-columns .layout-column-3{
    display: inline-block;
    vertical-align: top;
    width: 11%;
    padding-left: 20px;
    padding-right: 20px;
}
.has-5-columns .layout-column-4{
    display: inline-block;
    vertical-align: top;
    width: 11%;
    padding-left: 20px;
    padding-right: 20px;
}
.has-5-columns .layout-column-5{
    display: inline-block;
    vertical-align: top;
    width: 11%;
    padding-left: 20px;
    padding-right: 20px;
}

.has-4-columns .layout-column-1{
    display: inline-block;
    vertical-align: top;
    width: 12%;
    padding-left: 20px;
    padding-right: 20px;
}
.has-4-columns .layout-column-2{
    display: inline-block;
    vertical-align: top;
    width: 12%;
    padding-left: 20px;
    padding-right: 20px;
}
.has-4-columns .layout-column-3{
    display: inline-block;
    vertical-align: top;
    width: 12%;
    padding-left: 20px;
    padding-right: 20px;
}
.has-4-columns .layout-column-4{
    display: inline-block;
    vertical-align: top;
    width: 12%;
    padding-left: 20px;
    padding-right: 20px;
}

.has-3-columns .layout-column-1{
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
.has-3-columns .layout-column-2{
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
.has-3-columns .layout-column-3{
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
.has-2-columns {
    width: 940px;
    margin: 0 auto;
}
.has-2-columns .layout-column-1{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    padding-right: 20px;
}
.has-2-columns .layout-column-2{
    display: inline-block;
    vertical-align: top;
    width: 46%;
}
@media (max-width: 640px) {
    .has-3-columns .layout-column-1{
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }
    .has-3-columns .layout-column-2{
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }
    .has-3-columns .layout-column-3{
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }
}