/* отступы по бокам сайта*/
#head_top {
    padding-top: 2px;
    clear: both;
}
/*Верхняя часть шапки*/
#logo {
    float: left;
    display: inline-block;
}
#logo img {
    width: 195px;
}
#logo_two {
    float: left;
    padding-left: 10px;
    display: inline-block;
}
#logo_two img {
    padding-top: 13px;
    width: 206px;
}
#location {
    padding-top: 8px;
    padding-right: 263px;
    display: inline-block;
}
#location .icon_location{
    vertical-align: 1px;
    display: inline-block;
}
#location img {
    width: 9px;
}
#location p {
    font-family: 'Gotham Pro';
    font-weight: 500;
    color: #2c3137;
}
#location .local_sity{
    display: inline-block;
}
#right_panel {
    float: right;
    display: inline-block;
}
#right_panel .search_block {
    padding-right: 7px;
    vertical-align: 7px;
    display: inline-block;
}
#right_panel .search_icon{
    cursor: pointer;
    background-color: #ffef94;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-right: 8px;
    border-radius: 32px;
}
#right_panel .search_icon img{
    width: 14px;
    vertical-align: -1px;
}
#right_panel .button_block {
    padding-right: 7px;
    vertical-align: 7px;
    display: inline-block;
}
#right_panel .btn_about {
    border: 2px solid #272626;
    padding: 5px 11px 5px 11px;
    border-radius: 24px;
}
#right_panel .btn_about a {
    font-family: 'Gotham Pro';
    font-weight: 600;
    font-size: 12px;
    color: #2c3137;
    text-decoration: none;
}
#right_panel .btn_about:hover {
    border: 2px solid #272626;
    padding: 4px 11px 4px 11px;
    border-radius: 24px;
}
#right_panel .tog_block {
    padding-top: 23px;
    display: inline-block;
}
#right_panel .tog img {
    width: 28px;
}





/*Навигация*/

.header.box {
    height:80px;
    top:-80px;
    transition: top 1s;
    text-align:center;
}
.header.box.fixed{
    /*width:100%;*/
    position: fixed;
    top: 0;
    height: 48px;
    background-color: white;
    z-index: 10;
}






#head_bottom {
    padding-top: 21px;
    display: inline-block;
}
#head_bottom ul {
    white-space: nowrap;
    margin: 0;
}
#head_bottom li {
    font-family: 'Lucida Grande';
    font-size: 13px;
    font-weight: 500;
    padding-right: 54px;
    display: inline-block;
    text-transform: uppercase;
}
#head_bottom a {
    text-decoration: none;
}
.linenav {
    padding-top: 8px;
}
#head_bottom a:hover {
    color: #2c3137;
}
#head_bottom .current-menu-item a {
    color: #2c3137;
}