* {
    margin: 0;
    padding: 0;}
.homecontent {
    width: 940px;
    height: 100%;
    background: white;
    margin: 0 auto
}

#head_bottom a {
    color: #888e95;
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
body {
    font-family: 'PT Sans', sans-serif;
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0;
    border: 0;
    color: rgba(0, 0, 0, 0.84); 
    background: #fff;
    padding-right: 0px! important;
}
.blocklentatwo {
    padding-bottom: 50px;
}
.button_block {
    padding-right: 54px;
    vertical-align: 7px;
    display: inline-block;
    float: right;
}
.btn_about {
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.84);
    padding-left: 15px;
    padding-bottom: 9px;
    padding-top: 7px;
    padding-right: 15px;
    border-radius: 32px;
    vertical-align: 5px;
}
.btn_about:hover {
    border: solid 1px #fffe90; 
    background: #fffe90; 
    transition: 0.1s;
    vertical-align: 5px;
    
} 
.btn_about:active {
    border: solid 1px #fff; 
    background: #fff;
    transition: 0.3s;
    vertical-align: 5px;
    
}

.btn_about a {
    font-size: 14px; 
    color: rgba(0, 0, 0, 0.84); 
}
.section-content {
    display: block;
}

.flex-container{
    margin: 0 auto;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
}

.headerld {
    text-align: left;
    width: 940px;
    margin: 0 auto;
}

.header-content {
    margin: auto;
    padding: 10px;
}


.leftheader {
    margin-top: 7px;
    position: absolute;
    text-align: left;
    display: inline-block;
}
.leftheader p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    vertical-align: 7px;
}
.rightheader {
    position: absolute;
    margin-left: 55em;
    margin-right: 0em;
    display: inline-block;
}
.search_icon {
    cursor: pointer;
    border: solid 1px #fffe90;
    background: #fffe90;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 32px;
    vertical-align: 5px;
}
.search_icon:hover {border: solid 1px #000; background: none; transition: 0.2s;}
.search_icon:active {border: solid 1px #000; background: #000000; transition: 0.5s;}
.search_svg {max-width: 16px;max-height: 16px;}

.line {
    height: 1px;
    background-color: #0000001a;
    border-style: none;
}

.logo {
    text-align: center;
}

.logo-e {
    padding-left: 142px;
    font-size: 26px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: -0.3;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(0,0,0,.80);
    text-decoration: none;
}
.logo a:hover{color: #000; transition: 0.2s;}
.leftheader img {
    padding-right: 10px;
    display: inline-block;
}
.leftheader p {
    display: inline-block;
}
/*Навигация*/
.header {
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}
.navmenulen {
    text-align: left;
    width: 940px;
    margin: 0 auto;
}
.header.box {
    height:80px;
    top:-80px;
    transition: top 1s;
    text-align:center;
}
.header.box.fixed{
    position: fixed; 
    top: 0; 
    height: 52px; 
    background-color: white; 
    box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.03); 
    z-index: 10;
}
#head_bottom {
    padding-top: 21px;
    display: inline-block;
}
#head_bottom ul {
    white-space: nowrap;
    margin: 0;

}
#head_bottom li {
    font-size: 14px; 
    font-weight: 500; 
    letter-spacing: 0.055em;
    padding-left: 12px; 
    padding-right: 29px;
    display: inline-block;
    text-transform: uppercase;
}
#head_bottom a {
    text-decoration: none;
}
.linenav {
    padding-top: 8px;
}
#head_bottom a:hover {
    color: #2c3137;
}
#head_bottom .current-menu-item a {
    color: #2c3137;
}
/*Блок первого экрана страницы*/
.desc_news:hover {
    cursor: pointer;
}
.news_post:hover .title_new a {
        text-decoration: underline;
    }
.newsmin:hover .newsblog-title a {
        text-decoration: underline;
    }
.homenews {
    width: 1032px;
    margin: 0 auto
}
#content_news .imghome {
    background-position: center center;
    height: 150px;
    background-size: cover;
}
#content_news {
    padding-top: 27px;
}
#content_news .leftnews {
    text-align: left;
    margin-right: 40px;
    display: inline-block;
    width: 45%;
}
#content_news .news_post {
    border-radius: 5px;
}
.news {
    padding-bottom: 50px;
}
.news_post a {
    color: #2c3137;
}
#content_news .img_news img {
    border-radius: 5px;
    width: 100%;
}
#content_news .content_news {
    padding-left: 45px;
    padding-top: 24px;
}
#content_news .title_new {
    font-family: 'ProximaNova-Semibold';
    font-weight: bold;
    color: rgba(0, 0, 0, 0.94);
    size: 30px;
    letter-spacing: -0.01em;
    line-height: 34px;
    font-size: 30px;
    padding-bottom: 1px;
    padding-right: 35px;
}
.title_new a:hover  {
   text-decoration: underline;
}
#content_news .desc_news {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
}
.cat {
    padding-right: 20px;
}
.cat p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.94);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
    margin: 0;
}
.cat a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.94);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.cat a:hover {
    color: rgba(0,0,0,.95);
    transition: 0.2s;
}
.date {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    padding-right: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.authorcat p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.94);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
    margin: 0;
}
#content_news .rigthnews {
    float: right;
    display: inline-block;
    width: 51%;
    text-align: left;
}
.newsmin {
    position: relative;
    height: 120px;
    padding-bottom: 20px;
}
.newsminimg img {
    width: 160px;
    height: 120px;
}
.newsminimg {
    width: 160px;
    height: 120px;
    display: inline-block;
}
.bgr {
    background-position: center center;
    height: 120px;
    background-size: cover;
}
.rigthnewsblock {
    display: inline-block;
    width: 340px;
    padding-left: 20px;
}
.timenews p {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    padding-right: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.newsblog-title {
    position: absolute;
    top: 0;
}
.newsblog-title a {
    margin-top: 0;
    font-family: 'ProximaNova-Semibold';
    color: rgba(0, 0, 0, 0.94);
    letter-spacing: -0.01em;
    font-size: 22px;
}
.newsblog-title a:hover {
    text-decoration: underline;
}
.authorcat a {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0,0,0,.94);
}
.authorcat a:hover {
    color: rgba(0,0,0,.95);
    transition: 0.2s;
}
.bottomnews {
    position: absolute;
    bottom: 15px;
}
/*Генератор*/
.baggen {
    background-position: center center;
    height: 282px;
    background-size: cover;
}
.body-gen {
    padding-top: 50px;
    padding-left: 77px;
    text-align: left;
}
.generator-title p {
    font-family: "Georgia", sans-serif;
    font-size: 46px;
    margin: 0;
    color: rgba(0, 0, 0, 0.84)
}
.generator-desc p {
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;
    color: rgba(0, 0, 0, 0.84);
}
.generator-btn a {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: rgba(0,0,0,84);
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 2px;
    background-color: #fffe90;
    cursor: pointer;
}
.generator-btn a:hover {
    color: rgba(0,0,0,.95);
    transition: 0.2s;
}
.gen2 {
    text-align: left;
}
.generator {
    padding-bottom: 65px;
}
/*Лента*/
.bltitle {
    display: table;
    border-bottom: 2px solid #efeeee;
}
#lentafirst {
    width: 1036px;
    margin: 0 auto;
}
.lentaleft {
    text-align: left;
    display: inline-block;
    margin: 0;
    float: left;
}
.bglenta {
    width: 700px;
    background-position: center center;
    height: 250px;
    background-size: cover;
}
.bgslider {
    width: 700px;
}
.blockslider {
    width: 160px;
    height: 120px;
}
.bodylenta {
    width: 700px;
}
.lentatitle {
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 40px;
    margin-bottom: -3px;
}
.lentadesc {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 40px;
}
.lentadesc p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}
.lentatitle a {
    font-family: "ProximaNova-Semibold";
    color: rgba(0, 0, 0, 0.94);
    font-size: 34px;
    letter-spacing: -0.01em;
    line-height: 36px;
}
.lentatitle a:hover {
    text-decoration: underline;
}
.incat p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.94);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
    margin: 0;
}
.incat a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.94);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.incat a:hover {
    color: rgba(0,0,0,.95);
    transition: 0.2s;
}
.datelen {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    padding-right: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.footer_lent {
    padding-top: 40px;
    padding-left: 45px;
}
.onelenta {
    padding-bottom: 60px;
}



/*Популярные посты*/
.fixedpop {
    position: fixed;
    /*left: 65%;*/
    top: 14%;
    width: 299px;
    transition: 1s;
}
.tt {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.tte {
    opacity: 1;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.titlepoplenta {
    padding-bottom: 20px;
}
.titlepoplenta p {
    font-family: "ProximaNova-Regular";
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-size: 26px;
    color: #2c3137;
    margin: 0;
    text-align: left;
    padding-bottom: 20px;
}
.linepoplenta {
    height: 2px;
    border: none;
    background-color: #f3f3f3;
    margin: auto;
}
.popular-lenta {
   /* width: 286px;*/
    display: inline-block;
    padding-left: 48px;
    /* position: fixed; */
    /*right: 115px;*/
    /*top: 20%;*/
}
.popular-lentatwo {
    /*width: 285px;*/
    display: inline-block;
    padding-left: 48px;
}

.number_pop {
    display: inline-block;
    vertical-align: 46px;
    width: 25px;
}
.number_pop p {
    font-family: "ProximaNova-Regular";
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-size: 36px;
    color: #b5b5b5;
}
.rightpop {
    padding-left: 40px;
    display: inline-block;
}
.popular {
    text-align: left;
}
.popular .single_pop {
    /*padding-top: 30px;*/
}
.single_pop hr {
    border: none;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
    background-color: #ddd;
}
.popular a {
    color: #2c3137;
}
.popular .title_pop {
    width: 198px;
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 18px;
}
.popular .category_pop {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0,0,0,.94);
}
.popular .view_pop {
    font-family: 'Lucida Grande';
    font-weight: bold;
    color: #888e95;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    display: inline-block;
}
.category_pop a:hover {
    color: rgba(0,0,0,.95);
    transition: 0.2s;
}
.popular .bottom_pop {
    padding-top: 10px;
    padding-bottom: 12px;
}
/*****************************************************/
.titleblocks {
    width: 500px;
    padding-left: 45px;
}
.bodyblocks {
    padding-top: 40px;
}
.bltitle p {
    font-family: 'ProximaNova-Regular';
    font-weight: bold;
    color: rgba(0, 0, 0, 0.94);
    size: 30px;
    letter-spacing: -0.01em;
    line-height: 34px;
    font-size: 30px;
    padding-bottom: 23px;
}
.lineafish {
    width: 100px;
    height: 2px;
    background-color: #efeeee;
}
.lineosnow {
    width: 17%;
    height: 2px;
    background-color: #efeeee;
}
.sticky {
    position: fixed;
    top: 59px;  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
    z-index: 101;
    visibility: visible;
    /*opacity: 1;*/
    /*transition: 1s;*/
}
.non2 {
    /*opacity: 0;*/
    /*transition: 1s;*/
}
.non {
    position: relative;
    /*visibility: visible;*/
    /*opacity: 0;*/
    /*transition: 1s;*/
}
.clearstyle {
    clear: both;
}
.stop_afish {
    clear: both;
}
.stop_osnlent {
    clear: both;
}
.stop_arhiv {
    clear: both;
}
.paddingblocks {
    padding-bottom: 45px;
}
/*Добавление Место Досуга*/
.addmesto {
    width: 940px;
    margin: 0 auto;
    padding-top: 40px;
}
.titlemesto {
    text-align: center;

    padding-bottom: 20px;
}
.titlemesto h1 {
    font-family: "ProximaNova-Semibold";
    color: rgba(0, 0, 0, 0.84);
    letter-spacing: -0.01em;
    line-height: 36px;
    padding-bottom: 10px;
}
.linemesto {
    display: table;
    border-bottom: 2px solid #efeeee;
    margin: 0 auto;
}
.descaddgen {
    padding-top: 15px;
}
.descaddgen p {
    font-size: 20px;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    color: #8f908a;
}
.descriptionmest p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 0;
    color: rgba(0, 0, 0, 0.84);
}
.footer_lng {
    margin: 0 auto;
}
.titlef p {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 13px;
    text-align: center;
    color: #888e95;
}
.iplimit {
    margin: 0 auto;
    text-align: center;
}
.iplimit p {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.84);
}
.formaddgen {
    padding-top: 16px;
}
.container {
    margin:0 auto;
    text-align:center;
    padding-bottom: 20px;
    border-radius: 24px;
    background-color: #f1f3e8;
    border: 2px solid #cecece3b;
}

#formadd input {
    margin-bottom:10px;
}
#formadd textarea {
   height: 100px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 24px;
    border: 1px solid #cecece;
    background: #ffffff52;
    color: rgba(0, 0, 0, 0.84);
    border-radius: 5px;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
}
#formadd input:first-of-type
{
    margin-top:35px;
}
#formadd input, textarea {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 24px;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background: #ffffff52;
    color: rgba(0, 0, 0, 0.84);
    border-radius: 5px;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
}
#formadd ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.54);
}
#formadd :-moz-placeholder {
    color: rgba(0, 0, 0, 0.54);
}
#formadd ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.54);
}
#formadd :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.54);
}
#formadd button {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: rgba(0,0,0,84);
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 1px;
    background-color: #fffe90;
    cursor: pointer;
    border: none;
}
#formadd button:hover, .button:hover {
    border: 2px solid rgba(0,0,0,84);
    color: rgba(0,0,0,84);
    padding: 13px 30px;
}
#formadd label.error {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 24px;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
/* media queries */
@media (max-width: 700px) {
    label.error {
        width: 90%;
    }
    #formadd input, textarea {
        width: 90%;
    }
    #formadd button {
        width:90%;
    }
}
.message {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 24px;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}