* {
  margin: 0;
  padding: 0;} /* обнуляем отступы */


body {
  background-color:  white;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  /*margin-top: 70px;*/
}

