* {
  /*margin: 0; */
  padding: 0;} /* обнуляем отступы */
.juxtapose {
  margin: 0 auto;
}
.jx-slider a {
  display: none !important;
}
.jx-image img {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: auto !important;
}
#ai {
  width: 940px;
  height: 100%; /* высота для наглядности */
  background: white; /* цвет блока для наглядности */
  margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
.homecontent {
  width: 940px;
  height: 100%;
  background: white;
  margin: 0 auto
}
body {
  text-align: center; /* выравниваем все содержимое body по центру */
  background:#fff;
  font-family: "FuturaPT-Light";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  /*margin-top: 70px;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham Pro';
  font-weight: 400;
  color: #333;
}
#head_bottom a {
  color: #888e95;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
/*Страница в разработке или 404*/
#defaults .content_404 {
  font-family: 'Gotham Pro';
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  padding-top: 15%;
  padding-bottom: 1px;
  padding-right: 50px;
}
div#n2-ss-2 .n2-ss-slider-3 {
 
}
