body {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0;
    border: 0;
    background: #fff;
    padding-right: 0px! important;
}
.wp-block-columns {
    width: 940px;
    margin: 0 auto;
}
div.spoiler-body {
    padding: 1px;
    width: 940px;
    margin: 0 auto !important;
    padding: 0;
}
.section-content {
    display: block;
}

.flex-container{
    margin: 0 auto;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
}

.headerld {
    padding-bottom: 10px;
    text-align: left;
    width: 940px;
    background: white;
    margin: 0 auto;
}

.header-content {
    margin: auto;
    padding: 10px;
}

.leftheader {
    padding-top: 10px;
    position: absolute;
    text-align: left;
    display: inline-block;
}
.rightheader {
    position: absolute;
    margin-left: 55em;
    margin-right: 0em;
    display: inline-block;
}
.search_icon {
    cursor: pointer;
    border: solid 1px #fffe90;
    background: #fffe90;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 32px;
    vertical-align: 5px;
}
.search_icon:hover {border: solid 1px #000; background: none; transition: 0.2s;}
.search_icon:active {border: solid 1px #000; background: #000000; transition: 0.5s;}
.search_svg {max-width: 16px;max-height: 16px;}

.line {
    height: 1px;
    background-color: #0000001a;
    border-style: none;
}

.logo {
    text-align: center;
}

.logo-e {
    padding-left: 12px;
    font-size: 26px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: -0.3;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(0,0,0,.80);
    text-decoration: none;
}
.logo a:hover{color: #000; transition: 0.2s;}

.share {
    padding-left: 12px;
    margin-top: 10%;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
.share:hover {color:rgba(0,0,0,.95); transition: 0.2s;}

.title {
    padding-top: 0px;
}

.title_header {
    padding-top: 50px;
    margin-right: -20px;
    font-size: 15px;
}

.author {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color:rgba(0,0,0,.95);
    padding-bottom: 2px;
}

.category {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.54);
    text-decoration-line: none;
    padding-bottom: 0px;
}
.category:hover {color:rgba(0,0,0,.95); transition: 0.2s;}

.date {
    padding-top: 2px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.54);
}

.title h1 {
    font-family: "ProximaNova-Semibold";
    font-size: 62px;
    color: rgba(0,0,0,.84);
    letter-spacing: -0.05em;
}

.description {
    font-family: "ProximaNova-Regular";
    font-size: 22px;
    margin-left: -1.5px;
    line-height: 1.22;
    letter-spacing: -.012em;
    color: rgba(0,0,0,.54);
    margin-top: -0.5em;
    padding-bottom: 60px;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Black";
    src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: "FuturaPTLight";
    src: url("../fonts/FuturaPTLight.ttf") format("truetype");
}
.category-ld a:hover {
    color:rgba(0,0,0,.95); transition: 0.2s;
}
table {
    margin: 0 auto;
}
.wp-caption {
    margin: 0 auto;
}
blockquote {
    text-align: left;
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 20px;
}
/*Fix Port*/
.ld-content1 iframe {
    border: none;
}
blockquote p {
    text-indent: -.32em;
    border: none;
    padding: 0;
    padding-left: 50px;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #faffdf, #faffdf);
    display: inline;
}
cite {
    padding-left: 50px;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #faffdf, #faffdf);
    display: table-cell;
}
.ld-content1 figure {
    padding-top: 30px;
    padding-bottom: 0;
}
figure {
    max-width: 1032px;
    margin: 0 auto;
}
/*Для ссылок WP*/
.wp-embed-featured-image img {
    width: 100%;
    height: fit-content;
    border: none;
}
.wp-embedded-content {
    position: inherit !important;
}
.wp-block-embed-wordpress {
    padding-top: 0px !important;
    padding-bottom: 0px;
    /*height: 340px;*/
}
.wp-embed-excerpt p {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis;
}
.wp-block-embed-wordpress iframe{
    width: 500px;
}
.wp-block-embed-wordpress .wp-embed-footer {
    margin-top: 10px;
}
.wp-embedded-content a {
    display: none;
}
iframe .wp-embed-comments {
    display: none;
}
em {
    font-family: "FuturaPTLight";
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    line-height: 1.48;
    margin-left: -1.88px;
    letter-spacing: -.012em;
    margin-top: 48px;
    text-indent: -.32em;
    color: rgba(0,0,0,.68);
    border: none;
    padding: 0;
    padding-left: 50px;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #faffdf, #faffdf);
}
.ld-content1 ul {
    width: 740px;
    margin: 0 auto;
    color: rgba(0,0,0,.94);
    padding-top: 0px;
    /* padding-bottom: 40px; */
    font-family: "FuturaPT-Light";
    text-align: left;
    width: 740px;
    margin: 0 auto;
    font-size: 27px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
#bwg_container1_1 {
    padding-top: 30px;
}
@media (max-width: 480px) {
    .wp-block-embed-wordpress {
        height: 405px;
    }
}
.instagram-media {
    margin: 0 auto !important;
    text-align: -webkit-center;
}
