.modal-open .modal_lent {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal_lent {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
#modal_posts {
    background: white;
}
.modal_body {
    width: 940px;
    height: 100%; /* высота для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
    /*margin-top: -46px;*/
    /*padding-top: 3px;*/
}
.back_to_lent {
    padding-top: 12px;
    display: inline-block;
}
.back_to_lent i {
    display: inline-block;
}
.back_to_lent a {
    display: inline-block;
}
.modal_rigth_head {
    display: inline-block;
    float: right;
}
.modal_rigth_head .search_block {
    vertical-align: 7px;
    padding-right: 8px;
    display: inline-block;
}
.modal_rigth_head .tog_block {
    display: inline-block;
}
.modal_rigth_head .tog {
    padding-top: 8px;
}
.search_icon {
    cursor: pointer;
    background-color: #ffef94;
    padding-left: 4px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-right: 4px;
    border-radius: 32px;
}
.search_icon img {
    width: 12px;
}
.back_to_lent a {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
.back_to_lent .fa-2x {
    font-size: 1.5em;
    vertical-align: -4px;
}
/*Контент*/
.modal_post_content {
    padding-top: 27px;
}
.img_post_modal img {
    width: 100%;
    border-radius: 7px;
}
.dxd_modal_post {
    
    padding-right: 40px;
}
.title_post_modal {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 36px;
    color: #333;
    padding-bottom: 1px;
    text-align: center;
}
.content_post_modal {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 15px;
}
.footer_lenta_modal {
    padding-bottom: 40px;
}
/*Лента*/
#modal_posts_lents {
    background: white;
}