#search_modal {
    color: #ffffff;
    background-color: #333333ed;
}
input[type="text"]:focus { outline: none; }
input[type="text"]::-webkit-input-placeholder {
    font-family: "ProximaNova-Regular";
    font-size: 24px;
    font-weight: normal;
    color:  #fff;
}
input[type="text"]::-moz-placeholder {
    font-family: "ProximaNova-Regular";
    font-size: 24px;
    font-weight: normal;
    color:  #fff;
}


.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    text-align: left;
}
.bodysearch {
    width: 1032px;
    margin: 0 auto;
}
.widget_search {
    padding-top: 20%;
}
#search_modal .search-form {
    border-bottom: 2px solid #fff;
}
.widget_search .form-inline, .widget_product_search form, .widget_mailchimp .form-inline {
    position: relative; }
.widget_search form, .widget_mailchimp form {
    position: relative;
}
.form-inline [type="submit"], .form-inline .btn, .form-inline .theme_button {
    margin-bottom: 0;
}
button.ser {
    margin-right: 10px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.ser {
    font-size: 17px;
    line-height: 3;
    color: #f5f5f5;
    text-shadow: 0 1px 0 #fff;
}

.widget_search .form-inline .form-group, .widget_mailchimp .form-inline .form-group {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
}
#search_modal .form-control {
    font-family: "ProximaNova-Regular";
    font-size: 24px;
    font-weight: normal;
    border: none;
    background-color: transparent;
    height: 29px;
    color: #fff;
    width: 95%;
}
#searchform input {
    padding-left: 0px;
}

.widget_search .form-inline .form-control, .widget_product_search form .form-control, .widget_mailchimp .form-inline .form-control {
    width: 100%;
    margin: 0;
}
.widget_search [type="text"], .widget_product_search [type="search"], .widget_mailchimp [type="email"] {
    padding-right: 50px;
    width: 100%;
}
.widget_search input {
    font-style: normal;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], input[type="date"], textarea, select, .form-control {
    height: 50px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: none;
    color: #1f232b;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    background-color: #ffffff;
    border: 2px solid #e7eaeb; }
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

