#singlecontentcat .aligncenter{
    text-align: center;
}
#singlecontentcat .alignright {
    text-align: right;
}
#singlecontentcat {
    padding-top: 70px;
    padding-bottom: 750px;
    text-align: left;
    width: 940px;
    height: 100%; /* высота для наглядности */
    background: white; /* цвет блока для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
#singlecontentcat .bgcat {
    background-position: center top;
    height: 680px;
    background-size: cover;
}
#singlecontentcat .single-catalog {
    width: 100%;
    float: left;
}
#singlecontentcat .singlecat-image {
    padding-top: 20px;
    width: 40%;
    padding-left: 10px;
    padding-bottom: 5px;
    float: right;
}

/*Левая сторона*/
.contents-cat .streetsingle {
    border-radius: 17px;
    border: solid 2px #000000;
    padding-left: 8px;
    padding-right: 12px;
    display: inline-block;
}
.streetsingle img {
    width: 14px;
    height: 17px;
    display: inline-block;
}
.streetsingle p {
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    padding-left: 10px;
    vertical-align: 2px;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: inline-block;
}
.headsincat .worktimesingel {
    display: inline-block;
}
.headsincat .work {
    font-family: 'Gotham Pro';
    font-size: 16px;
    font-weight: 500;
    padding-left: 50px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.89;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.single-catalog .title-single {
    padding-right: 10px;
    padding-top: 35px;
}
.single-catalog .title-single p {
    font-family: 'Gotham Pro';
    font-size: 48px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.contact-info {
    padding-top: 40px;
}
.contact-info .numberphone {
    display: inline-block;
}
.numberphone .phonecat {
    padding-bottom: 15px;
}
.phonecat a {
    font-family: 'Gotham Pro';
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-style: normal;
    font-stretch: normal;
}
.contact-info .websitecom {
    float: right;
    display: inline-block;
    padding-right: 70px;
}
.websitecom .titwebsite {
    display: inline-block;
}
.websitecom .strelaweb {
    padding-left: 14px;
    vertical-align: 10px;
    display: inline-block;
}
.titwebsite .sitehttp a {
    font-family: 'Gotham Pro';
    font-size: 16.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.codebox img {
    padding-left: 7px;
    vertical-align: 1px;
}
dl.codebox {
    width: 100%;
    color: #000000bd;
    cursor: pointer;
}
.codebox .spoiler {
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
}


dl.codebox dt {
    display:block;
    font-size:11px;
    font-weight:700;
    color:#100213;
    margin-bottom:3px;
    text-transform:uppercase;
    border-bottom: 1px solid #0f0f0f4a;
}
.codebox .hide-contacts {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-size: 14px;
    color: black;
}
.numberphone .hidecontacts {
    width: 170px;
}
.single-catalog .single-postcat {
    padding-top: 35px;
    padding-right: 10px;
}
.single-postcat .desccat {
    font-family: 'FuturaPT-Light';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 40px;
}
/*Секция галереи*/
.gall {
    clear: both;
}
.gellerycat {
    padding-top: 50px;
    padding-bottom: 16px;
    text-align: left;
    width: 940px;
    height: 100%; /* высота для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
.galsingle .title-gall p {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-size: 30px;
    color: black;
}
.video-gallery {
    text-align: center;
}
.galsingle .title-gall {
    padding-bottom: 40px;
}
.mapsector {
    padding-top: 50px;
}
.titlemap {
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: left;
    width: 940px;
    height: 100%; /* высота для наглядности */
    background: white; /* цвет блока для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
.titlemap p {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 26px;
    color: black;
}
.catalog-desc .fishka-cat {
    padding-top: 40px;
}
.catalog-desc .fishka-cat p {
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-size: 14.5px;
    color: black;
}
.desccat a {
    color: black;
    font-weight: 600;
}
.desccat a:hover {
    color: black;
    font-weight: 400;
}
#singlecontentcat figure {
    width: 100%;
}
figure img {
    width: 100%;
    height: auto;
}
#content figure img {
    width: inherit;
    height: auto;
    margin-bottom: 10px;
}
#content .wp-block-image figcaption {
    margin-bottom: 20px;
}