/*Header*/
#header_cat {
    margin-top: -10px;
}
.category-drop {
    padding-top: 8px !important;
}
.linelongridhead {
    margin-top: 30px;
    height: 1px;
    background-color: #0000001a;
    border-style: none;
}
.edamodastyleru {
    padding-top: 24px;
    text-align: center;
}
.edamodastyleru a {
    width: 254px;
    height: 47px;
    opacity: 0.84;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.category-drop {
    padding-top: 24px;
    width: 940px;
    margin: 0 auto;
}
.menu-item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 25px;
}
.menu-item a {
    height: 19px;
    opacity: 0.6;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    text-transform: uppercase;
}
.menu-item a:hover {
    opacity: 1.6;
}
p img {
    width: 740px !important;
    height: auto;
}
.formError {
    position: inherit !important;
    top: unset !important;
    left: unset !important;
    display: block !important;
    z-index: 5000;
    cursor: pointer;
}
.widget_wysija_cont .wysija-submit {
    display: inline-block !important;
}
.wp-block-image figcaption {
    margin-top: -0.8em !important;
    color: rgba(0,0,0,.64) !important;
    text-align: center !important;
    font-size: 18px !important;
    padding-bottom: 15px;
}
.has-3-columns {
    width: 940px;
    margin: 0 auto;
}
.has-3-columns .layout-column-1{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-right: 30px;
}
.has-3-columns .layout-column-2{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-right: 30px;
}
.has-3-columns .layout-column-3{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
@media screen and (max-width: 1024px) {
        .headerld {
             width: 940px;
        }
        .rightheader {
            margin-left: 53em;
        }
    }
#longread .wp-caption  {
        width: 940px;
}
#longread .wp-caption-text {
    margin-top: -38px;
    padding-bottom: 20px;
    text-align: center;
}
.wp-caption-text span {
    font-size: 12pt !important;
}
.ld-body {
    padding-top: 20px;
}
#longread .headld {
    width: 940px;
    height: 100%;
    background: white;
    margin: 0 auto;
}
.bodyhead {
    padding-top: 50px;
    padding-left: 95px;
    text-align: left;
}
.bodyhead .category-ld a {
    font-family: 'Gotham Pro';
    font-size: 16.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #2c3137;
    text-transform: uppercase;
}
.lineld {
    width: 100%;
    height: 1px;
    background-color: #2c3137;
}
.category-ld {
    display: inline-block;
}
.countview {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(0,0,0,.54);
    display: inline-block;
}
.countview a:hover{color: #000; transition: 0.2s;}
.countview img {
    padding-left: 14px;
    padding-right: 3px;
    width: 16px;
}
.ld-title {
    padding-top: 0;
}
.ld-title h1 {
    font-family: "ProximaNova-Semibold";
    font-size: 62px;
    color: rgba(0,0,0,.84);
    letter-spacing: -0.05em;
    text-align: left;
}
.ld-desc {
   font-family: "ProximaNova-Regular";
    font-size: 22px;
    margin-left: -1.5px;
    line-height: 1.22;
    letter-spacing: -.012em;
    color: rgba(0,0,0,.54);
    margin-top: -0.5em;
    padding-bottom: 60px;
    text-align: justify;
}
.ld-author {
    padding-top: 35px;
    line-height: 1;
}
.ld-author p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.95);
    padding-bottom: 2px;
    font-size: 15px;
    text-align: left;
}
.lineauthor {
    width: 100px;
    margin-top: -11px;
    height: 1px;
    background-color: #bdbdbd;
}
.ld-date p{
    padding-top: 2px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0,0,0,.54);
}

.ld-img {
    background-position: center center;
    height: 450px;
    background-size: cover;
}
.ld-content {
    width: 740px;
    background: white;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}
.ld-content h3{
    font-family: 'Gotham Pro';
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 36.5px;
    letter-spacing: normal;
    color: #2c3137;
}
.ld-content p {
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #2c3137;
}
.ld-content img {
    width: 800px;
    height: auto !important;
}
.ld-tags {
    width: 800px;
    background: white;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 17px;
}
.tag a {
    padding-right: 10px;
}
.tag a{
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    border-radius: 17px;
    border: solid 2px #f3f5f7;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f3f5f7;
    color: #888e95;
    display: inline-block;
}
/*Подписка*/
.subsribe {
    padding-bottom: 12px;
    background-color: #f7f7f7;
}
.bodysub {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}
.img-sub {
    width: 57px;
    vertical-align: -22px;
    padding-top: 25px;
    padding-right: 27px;
    display: inline-block;
}
.subsribe .desc-sub { display: inline-block;}
.desc-sub p {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    padding-right: 57px;
}
.form-sub {
    display: inline-block;
}
.form-sub .subsc {
    font-family: 'Gotham Pro';
    font-size: 14px;
    line-height: 38px;
    width: 265px;
    height: 32px;
    outline: none;
    border: none;
    color: #888e95;
    display: inline-block;
    padding-left: 17px;
}
.form-sub .btn-sub {
    font-family: 'Gotham Pro';
    font-size: 16px;
    padding: 16px;
    display: inline-block;
    background-color: #2c3137;
    color: white;
    border: none;
}

.ld-content a {
    font-family: 'FuturaPT-Light';
    font-style: normal;
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.ld-content a:hover {
    color: black;
    font-weight: 500;
}
/*Подбор записей*/
.related-posts {
    width: 800px;
    background: white;
    margin: 0 auto;
    padding-top: 55px;
}
.relatedtitle {
    display: inline-block;
    padding-left: 30px;
    padding-right: 23px;
}
.relatedtitle p {
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    color: #888e95;
}
.line-left {
    width: 34%;
    display: inline-block;
}
.line-rigth {
    width: 37%;
    display: inline-block;
}
.related {
    width: 800px;
    background: white;
    margin: 0 auto;
    padding-top: 15px;
    text-align: left;
}
.img-rel img {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    overflow: hidden;
}
.rel-view img {
    padding-right: 7px;
    width: 16px;
}
.img-rel {
     display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.body-rel {
    display: inline-block;
}
.rel-cat {
    padding-right: 45px;
    display: inline-block;
}
.rel-view {
    font-family: 'Lucida Grande';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    color: #888e95;
    display: inline-block;
}
/*=====================================================*/
.left-rel {
    padding-bottom: 82px;
    float: left;
}
.rigth-rel {
    padding-bottom: 82px;
    float: right;
}
.card-related {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}
.body-rel {
    width: 220px;
    padding-left: 38px;
}
.title-rel {
    padding-bottom: 0px;
    position: absolute;
    top: 6px;
}
.title-rel p {
    font-family: 'Gotham Pro';
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    color: #2c3137;
    overflow: hidden;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin: 0 0 0 0;
    -webkit-box-orient: vertical;
}
.title-rel a {
    font-family: 'Gotham Pro';
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    color: #2c3137;
}
.rel-cat p {
    font-family: 'Gotham Pro';
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    color: #2c3137;
}
.catview {
    margin-top: -15px;
    text-align: left;
    line-height: 1;
}
.ld-date {
    margin-top: -15px;
}
.category-ld .ldview {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.54);
    text-decoration-line: none;
    font-size: 15px;
}
/*=====Плагин подписки=====*/
.wysija-paragraph {
    font-family: 'Lucida Grande';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    display: inline-block;
}
.form-validation-field-0formError .parentFormform-wysija-html5ae5906c527f6-1 .formError {
    opacity: 0.87;
    /* position: absolute; */
    top: 2524.75px;
    left: 1002.08px;
    margin-top: 0px;
}
.error li {
    font-family: 'Gotham Pro';
    font-size: 18px;
}
.updated li {
    font-family: 'Gotham Pro';
    font-size: 18px;
}

.ld-content1 iframe {width: 100%; 
    /*height: 415px;*/
    padding-top: 30px;
    padding-bottom: 30px;
}
/*.ld-content1 .app {*/
    /*width: 100%;*/
    /*height: 707px;*/
/*}*/

figure img {
    width: 100% !important;
}
.ld-content1 img  {
    width: 1032px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ld-content1 p {
   color: rgba(0,0,0,.84);
   padding-top: 9px;
   padding-bottom: 21px;
   font-family: "FuturaPT-Light";
   text-align: justify;
   max-width: 740px;
   margin: 0 auto;
   font-size: 27px;
   line-height: 1.58;
   letter-spacing: -.003em;

}
a {
    color: black;
    font-weight: 600;
}
a:hover {
    font-weight: 500;
}
/*Соц сети*/
.social-share {
    width: 800px;
    background: white;
    margin: 0 auto;
    padding-bottom: 7px;
}

.button-share {
    text-align: left;
    padding-top: 22px;
    padding-bottom: 22px;
}
/*Facebook*/
.shared-soc-f {
    border-radius: 27px;
    border: solid 1px #0064a6;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    
}

.shared-soc-f a {
    font-family: 'Lucida Grande';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: left;
    color: #0064a6;
    text-transform: uppercase;
}
/*Tweeter*/
.shared-soc-t {
    border-radius: 17px;
    border: solid 1px #55acee;
    padding-left: 17px;
    padding-right: 17px;
    display: inline-block}
.shared-soc-t a {
    font-family: 'Lucida Grande';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: left;
    color: #12b5f2;
    text-transform: uppercase;
}
/*Vk*/
.shared-soc-v {
    border-radius: 17px;
    border: solid 1px #4d76a1;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block}
.shared-soc-v a {
    font-family: 'Lucida Grande';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: left;
    color: #4d76a1;
    text-transform: uppercase;
    text-decoration: none;
}

.shared-soc-t {
    display: inline-block;
}
.shared-soc-t:hover {
    cursor: pointer;
    background-color: #12b5f2;
    transition: 0.2s;
}
.shared-soc-f:hover {
    cursor: pointer;
    background-color: #0064a6;
    fill: white;
    transition: 0.2s;
}
.shared-soc-v:hover {
    cursor: pointer;
    background-color: #4d76a1;
    transition: 0.2s;
    text-decoration: none;
}

.shared-soc-v {display: inline-block}
.shared-soc-f img {
    width: 7px;
    vertical-align: -1px;
}
.shared-soc-t img {
    width: 12px;
    vertical-align: -1px;
}
.shared-soc-v img {
    width: 14px;
}
.shareface {display: inline-block;  padding-right: 13px;}
.sharevk {display: inline-block;}
.sharetweet {display: inline-block; padding-right: 13px;}

/*Иконки SVG для социальных кнопок*/
glyph {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: -1px;
}
glyph.facebooksvg {
    -webkit-mask: url(../img/icons/soc/facebook.svg) no-repeat 100% 100%;
    mask: url(../img/icons/soc/facebook.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #0064a6;
}
glyph.twittersvg {
    -webkit-mask: url(../img/icons/soc/twitter.svg) no-repeat 100% 100%;
    mask: url(../img/icons/soc/twitter.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #12b5f2;
}
glyph.vksvg {
    -webkit-mask: url(../img/icons/soc/vk.svg) no-repeat 100% 100%;
    mask: url(../img/icons/soc/vk.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #4d76a1;
}
.category-ld a:hover {
    color:rgba(0,0,0,.95); transition: 0.2s;
}
table {
    margin: 0 auto;
}
.wp-caption .aligncenter {
    margin: 0 auto;
}
em {
    font-family: "FuturaPTLight";
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    line-height: 1.48;
    margin-left: -1.88px;
    letter-spacing: -.012em;
    margin-top: 48px;
    text-indent: -.32em;
    color: rgba(0,0,0,.68);
    border: none;
    padding: 0;
    padding-left: 50px;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #faffdf, #faffdf);
}
.ld-content1 ul {
    width: 740px;
    margin: 0 auto;
    color: rgba(0,0,0,.94);
    padding-top: 0px;
    padding-bottom: 40px;
    font-family: "FuturaPT-Light";
    width: 740px;
    font-size: 27px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
.ld-content1 ol {
    width: 740px;
    margin: 0 auto;
    color: rgba(0,0,0,.94);
    font-family: "FuturaPT-Light";
    padding-left: 50px;
    font-size: 27px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
h2, h3, h4, h5, h6 {
    font-family: 'Gotham Pro';
    font-weight: 400;
    color: #333;
    width: 740px;
    margin: 0 auto;
}
.ld-content1 h3 {
    font-size: 34px;
    padding-top: 10px;
}
.footer_lng {
    display: inline-block;
    width: 100%;
}
.titlef p {
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 13px;
    color: #888e95;
}
blockquote i {
    font-family: "FuturaPTLight";
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    line-height: 1.48;
    margin-left: -1.88px;
    letter-spacing: -.012em;
    margin-top: 48px;
    text-indent: -.32em;
    color: rgba(0,0,0,.68);
    border: none;
    padding: 0;
    padding-left: 50px;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #faffdf, #faffdf);
}
p span {
    font-family: "FuturaPTLight";
    font-size: 18pt;
    line-height: 1.58;
    letter-spacing: -.003em;

}
span {
    font-family: "FuturaPTLight";
    font-size: 18pt;
    line-height: 1.58;
    letter-spacing: -.003em;
}
.twentytwenty-wrapper {
    width: 940px !important;
    margin: 0 auto !important;
}
.juxtapose {
    margin: 0 auto;
    text-align: center;
}
p.has-background {
    margin-bottom: 20px;
}
.wp-block-embed figcaption {
    margin-top: -1.5em !important;
    margin-bottom: 20px;
}
.instagram-media {
    margin: 0 auto !important;
}
.mobileview {
    display: none;
}
.wp-block-image.is-resized {
    width: auto !important;
}
.ld-content1 .app {
    height: auto;
    min-width: 70%;
}
.app img {
    min-width: 100%;
    height: auto;
}
.wp-block-image {
    min-width: 100%;
}
@media (min-width: 601px) {
    #bwg_container1_2 {
        margin-bottom: -20px;
    }
}
@media (min-width: 0px) and (max-width: 600px) {
    #bwg_container1_2 {
        margin-bottom: -50px;
    }
}

