/*Toggle hamburger*/
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
.c-hamburger:focus {
    outline: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 21px;
    left: 6px;
    right: 16px;
    height: 2px;
    background: #000;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #000;
    content: "";
}
.c-hamburger span::before {
    top: -9px;
    width: 24px;
}
.c-hamburger span::after {
    bottom: -9px;
}

.c-hamburger--htx {
    background-color: white;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
{
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
    width: 24px;
}
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
    width: 20px;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
    background-color: white;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
    width: 24px;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}