@media (min-width: 0px) and (max-width: 374px) {
    #content_news .title_new a {
        font-size: 21px !important;
    }
    #content_news .title_new {
        padding-right: 18px !important;
    }
    .generator {
        margin-top: -60px !important;
    }
}