@media (min-width: 950px) {
    .mobilenav {
        display: none;
    }
    .headerld {
        visibility: visible;
    }
    #wrapper {
        display: none;
    }
    .container2 {
        display: none;
    }
}
@media (max-width: 480px) {
    .generator-title p {
        width: 288px !important;
    }
    .generator-desc p {
        width: 197px;
        padding-bottom: 40px !important;
    }
    .baggen {
        height: 342px !important;
    }
}
@media (min-width: 820px) and (max-width: 949px) {
    .newsmin {
        width: calc(32% - 3px);
        display: inline-block;
    }
}
@media (min-width: 660px) and (max-width: 819px) {
    .newsmin {
        width: calc(32% - 5px);
        display: inline-block;
    }
}
@media (min-width: 340px) and (max-width: 659px) {
    .newsmin {
        width: calc(32% - 9px);
        display: inline-block;
    }
}
@media (min-width: 0px) and (max-width: 339px) {
    .newsmin {
        width: calc(32% - 13px);
        display: inline-block;
    }
}
@media (min-width: 376px) and (max-width: 949px) {
    .bgr {
        border-radius: 10px;
        height: 75px !important;
    }
}
@media (min-width: 0px) and (max-width: 375px) {
    .bgr {
        border-radius: 10px;
        height: 65px !important;
    }
}

@media all and (max-width : 949px) {
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #D8D8D8;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px #000000;
    }
    h3, h4, h5, h6 {
        width: 100% !important;
    }
    h2 {
        width: 81% !important;
        text-align: center;
        padding-bottom: 15px;
    }
    .fixed .container2 {
        margin-top: -20px;
    }
    #content_news {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .news {
        margin-top: -15px;
    }
    #content_news .content_news {
        padding-left: 5px !important;
    }
    #content_news .imghome {
        height: 129px !important;
    }
    #content_news .desc_news {
        display: none;
    }
    .footer_news {
        display: none;
    }
    #content_news .title_new a {

    }
    .mobilenav {
        visibility: visible;
    }
    .headerld {
        display: none;
    }
    .elements_menu {
        display: none;
    }
    .navmenulen {
        width: inherit !important;
    }
    .homenews {
        width: 100% !important;
    }
    #content_news .leftnews {
        margin-right: 0 !important;
        width: 100% !important;
    }
    #content_news .rigthnews {
        float: inherit !important;
        width: 100% !important;
    }
    .bglenta {
        width: inherit !important;
        height: 180px !important;
    }
    .titleblocks {
        width: inherit !important;
    }
    #lentafirst {
        width: initial !important;
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .newsmin {
        position: relative;
        height: auto !important;
        padding-bottom: 20px;
        display: inline-block;
        vertical-align: text-top;
    }
    .newsminimg {
        height: auto !important;
        width: 100% !important;
    }
    .rigthnewsblock {
        width: 100% !important;
        padding-left: 3px !important;
    }
    .newsblog-title {
        position: inherit !important;
        margin-top: 5px !important;
    }
    .bottomnews {
        display: none;
    }
    .newsblog-title a {
        font-size: 12px !important;
        line-height: 17px;
    }
    .generator {
        padding-top: 20px;
        padding-bottom: 25px !important;
    }
    .newsmin:nth-of-type(2) {
        margin-left: 15px;
        margin-right: 15px;
    }
    #aside0 {
        display: none !important;
    }
    #afishs {
        display: none !important;
    }
    #interespop {
        display: none !important;
    }
    #vyborredpop {
        display: none !important;
    }
    .body-gen {
        padding-top: 41px !important;
        padding-left: 30px !important;
    }
    .generator-title p {
        font-size: 36px !important;
    }
    .generator-desc p {
        font-size: 14px !important;
        line-height: 23px;
    }
    .lentaleft {
        float: initial !important;
        width: 100% !important;
    }
    .bodylenta {
        width: initial !important;
    }
    .lentatitle {
        padding-top: 24px !important;
        padding-left: 5px !important;
        margin-bottom: 0 !important;
    }
    .lentatitle a {
        font-size: 22px !important;
        line-height: 27px !important;
    }
    .lentadesc {
        padding-top: 20px !important;
        padding-left: 5px !important;
        padding-right: 0 !important;
    }
    .footer_lent {
        padding-top: 19px !important;
        padding-left: 5px !important;
    }
    .incat p {
        font-size: 12px !important;
        color: #000000 !important;
    }
    .datelen {
        font-size: 12px !important;
        color: #848383 !important;
    }
    .lentadesc p {
        font-size: 12px !important;
        line-height: 18px !important;
    }
    .onelenta {
        padding-bottom: 25px !important;
    }
    .blocklentatwo {
        padding-bottom: 20px!important;
    }

    .titleblocks {
        display: none !important;
    }
    .bodyblocks {
        padding-top: 0 !important;
        margin-top: -20px;
    }
    .modalDialog {
        overflow: auto;
    }
    .modalDialog > div {
        width: 100% !important;
    }
    .imggener {
        padding-top: 20px !important;
        margin: 0 auto !important;
        text-align: -webkit-center !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        display: block !important;
        max-width: 200px;
    }
    .bggen {
        padding-top: 98.25% !important;
        -moz-background-size: cover !important;
        background-position: center !important;
        width: auto !important;
        height: auto !important;

    }
    .gencore {
        padding-top: 10px !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        width: 100%;
        height: 250px;
    }
    .gen2 {
        text-align: center !important;
    }
    .question {
        font-size: 20px !important;
        text-align: center !important;
        padding-bottom: 25px !important;
    }
    .col-centered {
        margin-right: 0 !important;
        width: 100% !important;
    }
    /*Longread*/
    * {
        margin: 0;
        padding: 0;
    }
    .navlongreaddesktop {
        display: none;
    }
    .linelongridhead {
        display: none;
    }
    .longread li {
        display: block !important;
        text-align: left !important;
        padding-left: 0 !important;
    }
    .ld-author {
        padding-top: 29px !important;
    }
    .countview {
        margin-top: 32px !important;
    }
    .countview img {
        display: none;
    }
    .mobileview {
        display: inline-block !important;
        padding-left: 5px;
    }
    .category-ld {
        display: none !important;
    }
    .ld-date {
        margin-top: 5px !important;
    }
    .ld-title h1 {
        font-size: 32px !important;
        line-height: 38px;
    }
    .flex-container {
        padding-left: 25px !important;
    }
    .ld-title {
        padding-top: 27px !important;
    }
    .ld-desc {
        padding-top: 24px;
        font-size: 18px !important;
        margin-top: 0 !important;
        padding-bottom: 42px !important;
    }
    .ld-content1 h1 {
        font-size: 32px !important;
        line-height: 38px;
        color: rgba(0,0,0,.84);
        letter-spacing: -0.05em;
        text-align: left;
        padding-bottom: 34px;
        padding-left: 50px;
        padding-right: 39px;
    }
    .ld-content1 p {
        padding-top: 14px !important;
        font-size: 18px !important;
        line-height: 27px !important;
        padding-left: 50px;
        padding-right: 39px;
        color: #000000 !important;
        word-wrap: break-word;
    }
    .ld-content1 figure {
        padding-top: 0 !important;
    }
    .ld-content1 .app {
        padding-left: 0;
        padding-right: 0;
    }
    .desktopshare {
        display: none;
    }
    .mobileshare {
        display: block !important;
        margin-top: 17px;
        padding-left: 50px;
    }
    .button-share {
        padding-bottom: 26px !important;
    }
    .img-sub {
        padding-left: 42px;
        padding-top: 31px !important;
    }
    .desktop_sub {
        display: none;
    }
    .mobile_sub {
        display: block !important;
    }
    .form-sub {
        display: block !important;
    }
    .desc-sub p {
        padding-right: 0 !important;
        margin: 0 auto;
    }
    .bodysub {
        width: 100% !important;
    }
    .subsribe .desc-sub {
        display: inline-block;
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    .desc-sub p {
        font-family: 'PT Sans', sans-serif !important;
    }
    .form-sub .btn-sub {
        font-size: 18px !important;
        width: 51px;
        height: 51px;
        padding: 0 !important;
    }
    .form-sub form {
        text-align: center;
        padding-top: 24px;
    }
    .subsribe {
        padding-bottom: 46px !important;
    }
    .formErrorContent {
        font-size: 12px;
        color: #000;
    }
    .related-posts {
        width: 100% !important;
        padding-top: 33px !important;
    }
    .line-left {
        float: left;
        margin-top: 10px;
    }
    .line-rigth {
        float: right;
        margin-top: 10px;
    }
    .relatedtitle {
        padding-left: 24px !important;
        padding-right: 22px !important;
    }
    .relatedtitle p {
        font-family: 'PT Sans', sans-serif !important;
        font-size: 12px !important;
        color: #000000 !important;
        font-weight: normal !important;
    }


    .left-rel {
        float: initial !important;
        display: inline-block;
        padding-right: 30px;
        vertical-align: top;
        width: 47%;
    }
    .rigth-rel {
        float: initial !important;
        display: inline-block;
        vertical-align: top;
        width: 47%;
    }
    .related {
        width: auto !important;
        padding-top: 45px !important;
        padding-left: 39px;
        padding-right: 40px;
    }
    .body-rel {
        width: auto !important;
        padding-left: 4px !important;
    }
    .title-rel {
        position: inherit !important;
        padding-top: 15.42px;
    }
    .mobiledatelongread {
        display: block !important;
        padding-top: 16px;
    }
    .rel-cat {
        display: none !important;
    }
    .rel-view {
        display: none !important;
    }
    .card-related {
        padding-top: 0 !important;
    }
    .title-rel a {
        font-family: 'ProximaNova-Semibold' !important;
        font-size: 16px !important;
        line-height: 23px !important;
        text-transform: none !important;
    }
    .title-rel p {
        font-family: 'ProximaNova-Semibold' !important;
        font-size: 16px !important;
        line-height: 23px !important;
        text-transform: none !important;
    }
    .ld-tags {
        width: 100% !important;
        text-align: center !important;
    }
    .tag a:hover {
        font-weight: normal !important;
        box-shadow: 0 0 2px black;
    }
    p .size-full {
        width: 100% !important;
        margin-bottom: -26px;
    }
    .wp-block-image.is-resized {
        width: 78% !important;
    }
    .wp-block-embed-wordpress {
        height: auto !important;
    }
    em {
        font-size: 18px !important;
        line-height: 1 !important;
        padding-left: 0 !important;
    }
    blockquote {
        padding-left: 50px;
        padding-right: 39px;
        padding-top: 15px !important;
        padding-bottom: 20px !important;
        line-height: 36px;
    }
    .ld-content1 span {
        font-size: 18px !important;
        line-height: 27px !important;
        letter-spacing: -.003em;
    }
    .ld-content1 ol {
        width: 73% !important;
        font-size: 18px !important;
        color: #000000 !important;
        padding-left: 67px !important;
        padding-right: 39px;
        line-height: 27px !important;
    }
    .ld-content1 ol li {
        padding-bottom: 10px;
    }
    #longread .wp-caption {
        width: 100% !important;
    }
    .ld-content1 img {
        width: 100% !important;
    }
    .wp-caption  img {
        width: 75% !important;
    }
    .ld-content1 iframe {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    figcaption {
        margin-top: -1.4em !important;
        padding-bottom: 20px;
    }
    .ld-content1 .size-full  {
        width: 100% !important;
    }
    .size-large {
        width: 100% !important;
    }
    .social-share {
        width: 100% !important;
    }
    .ld-content1 ul {
        width: 74% !important;
        margin-left: 16% !important;
        font-size: 18px !important;
        line-height: 1.78 !important;
    }
    .has-2-columns {
        width: 100% !important;
    }
    .has-3-columns {
        width: 100% !important;
    }
    .has-4-columns {
        width: 100% !important;
    }
    .wp-block-columns.has-2-columns {
        grid-auto-columns: 100% !important;
    }
    .wp-block-columns.has-3-columns {
        grid-auto-columns: 100% !important;
    }
    .wp-block-columns.has-4-columns {
        grid-auto-columns: 100% !important;
    }
    .wp-block-columns {
        display: block !important;
    }
    .has-4-columns .layout-column-1 {
        width: 77% !important;
        text-align: center;
    }
    .has-4-columns .layout-column-2 {
        width: 30% !important;
    }
    .has-4-columns .layout-column-3 {
        width: 30% !important;
    }
    .has-4-columns .layout-column-4 {
        width: 30% !important;
    }




}





/*img for related post / blockquote img*/
@media (min-width: 650px) and (max-width: 949px) {
    blockquote .size-full {
        width: calc(100% - 13%) !important;
    }
    .img-rel {
        display: block !important;
        width: 100% !important;
    }
    .img-rel img {
        width: 100%;
        height: auto !important;
        margin: -12% 0 0 0;
    }
}
@media (min-width: 550px) and (max-width: 649px) {
    blockquote .size-full {
        width: calc(100% - 16%) !important;
    }
    .img-rel {
        display: block !important;
        width: 100% !important;
    }
    .img-rel img {
        width: 100%;
        height: 100px;
        margin: 0;
    }
    .left-rel {
        width: calc(47% - 3px) !important;
    }
    .rigth-rel {
        width: calc(47% - 3px) !important;
    }
}
@media (min-width: 480px) and (max-width: 549px) {
    blockquote .size-full {
        width: calc(100% - 19%) !important;
    }
}
@media (min-width: 380px) and (max-width: 479px) {
    blockquote .size-full {
        width: calc(100% - 22%) !important;
    }
}
@media (min-width: 0px) and (max-width: 379px) {
    blockquote .size-full {
        width: calc(100% - 24%) !important;
    }
}
@media (min-width: 375px) and (max-width: 549px) {
    .img-rel {
        display: block !important;
        width: 100% !important;
    }
    .img-rel img {
        width: 100%;
        height: 100px;
        margin: 0;
    }
    .left-rel {
        width: calc(46% - 6px) !important;
    }
    .rigth-rel {
        width: calc(46% - 6px) !important;
    }
}
@media (min-width: 0px) and (max-width: 374px) {
    .img-rel {
        display: block !important;
        width: 100% !important;
        height: 90px !important;
    }
    .img-rel img {
        width: 100%;
        height: 100px;
        margin: 0;
    }
    .left-rel {
        width: calc(43% - 0px) !important;
    }
    .rigth-rel {
        width: calc(43% - 0px) !important;
    }
}
/*Lines realted post*/
@media (min-width: 520px) and (max-width: 949px) {
    .line-rigth {
        width: calc(34% - 3px) !important;
    }
    .line-left {
        width: calc(34% - 3px) !important;
    }
}
@media (min-width: 0px) and (max-width: 519px) {
    .line-rigth {
        width: calc(32% - 30px) !important;
    }
    .line-left {
        width: calc(32% - 30px) !important;
    }
}
/*Width form subscribe*/
@media (min-width: 375px) and (max-width: 949px) {
    .form-sub .subsc {
        width: 239px !important;
    }
}
@media (min-width: 0px) and (max-width: 376px) {
    .form-sub .subsc {
        width: 162px !important;
    }
}
/*Image subscribe*/
@media (min-width: 400px) and (max-width: 550px) {
    .img-sub img { width: 49px;height: 49px; }
    .subsribe .desc-sub { width: calc(63% - 3px) !important; }
}
@media (min-width: 0px) and (max-width: 399px) {
    .img-sub img { width: 49px; height: 49px; }
    .subsribe .desc-sub { width: 57% !important; }
    .desc-sub p {
        font-size: 16px !important;
    }
    .img-sub {
        padding-right: 10px !important;
    }
}
/*One title*/
@media (min-width: 375px) and (max-width: 949px) {
    #content_news .title_new a {
        font-size: 24px !important;
    }
    .news {
        padding-bottom: 27px !important;
    }
    #content_news {
        padding-top: 29px !important;
    }
    #head_bottom {
        margin-top: 11px !important;
    }
    #content_news .content_news {
        padding-top: 14px !important;
    }
    #head_bottom ul {
        margin-bottom: 18px !important;
    }
    .ld-img {
        height: 356px !important;
    }
}
/*375/480*/
@media (min-width: 0px) and (max-width: 480px) {
    #content_news .title_new a {
        font-size: 21px !important;
    }
    #content_news .title_new {
        padding-right: 18px !important;
        line-height: 20px !important;
    }
    .news {
        padding-bottom: 7px !important;
    }
    #content_news .content_news {
        padding-top: 7px !important;
    }
    .generator {
        margin-top: -30px;
    }
    #content_news {
        padding-top: 7px !important;
    }
    #head_bottom {
        margin-top: -17px !important;
    }
    #head_bottom ul {
        margin-bottom: 11px !important;
    }
    .ld-img {
        height: 160px !important;
    }
    .wp-block-cover-image {
        min-height: 160px !important;
    }
    .desktoplement {
        display: none;
    }
    .mobileelement {
        display: block !important;
    }
    .n2-ss-slider-1 {
        height: 200px !important;
    }
    .n2-ss-widget-display-desktop {
        top: 50% !important;
    }
    #header_cat .nav-listmobile {
        padding-top: 14px !important;
    }
    .head-cat ul {
        margin-bottom: 11px !important;
    }
    .fixed #head_bottom {
        padding-top: 16% !important;
    }





}
