/*Other componetns*/
.linerigthcatalog {
    display: none;
    height: 1px;
    background-color: #0000001a;
    border-style: none;
}
.search_svg {
    max-width: 16px;
    max-height: 16px;
}
.m_titlehead {
    font-family: "Georgia", sans-serif;
    /*font-family: 'SF UI Display';*/
    font-size: 20px;
    padding-left: 2px;
    display: inline-block;
}
.m_allhead {
    font-family: "Georgia", sans-serif;
    /*font-family: 'SF UI Display';*/
    font-size: 12px;
    display: inline-block;
    float: right;
    margin-top: 6px;
}
.m_allhead a {
    color: #000000;
}
.m_allhead a:hover {
    color: rgba(0, 0, 0, 0.54);
}
.bgpost_m {
    background-position: center center;
    height: 110px;
    background-size: cover;
    border-radius: 10px;
}
.singlepost_m {
    display: inline-block;
    vertical-align: top;
}
.scrollsinglepost_m {
    margin-right: 15px;
    margin-bottom: 5px;
}
.singlepost_m:nth-of-type(2) {
    /*margin-left: 15px;
    margin-right: 15px;*/
}
.imagesigle_m {
    height: auto !important;
    width: 100% !important;
}
.descsingle_m a {
    font-family: 'ProximaNova-Semibold';
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.94);
}
.descsingle_m a:hover {
    color: rgba(0, 0, 0, 0.54);
}
#header_cata .edamodastyleru {
    padding-top: 14px !important;
}
.leftcatalog .isshow {
    display: block;
}
/*Single catalogs*/
.lineoldcatalog {
    margin-top: 30px;
    height: 1px;
    background-color: #0000001a;
    border-style: none;
}
.streetsingle img {
    padding-right: 0 !important;
}
.headsincatmobile {
    display: none;
}
/*Button show/hide on filter for catalogs*/
.btnfiltershow:focus {
    border-radius: 10px;
    border: 1px solid #000;
    outline:0;
}
.btnfiltershow {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #000;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
}

/*navigate catalog*/
@media (min-width: 950px) {
    .mobilenav {
        display: none;
    }
    .headerld {
        visibility: visible;
    }
    #wrapper {
        display: none;
    }
    .container2 {
        display: none;
    }
    .mobilepost {
        display: none;
    }
    .btnfiltershow {
        display: none;
    }
}


@media all and (max-width : 949px) {
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #D8D8D8;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px #000000;
    }
    #content ol {
        width: 72% !important;
    }
    .catfilters {
        display: none;
    }
    .MenuIcon {
        top: 12px !important;
    }
    .navlongreaddesktop {
        display: none !important;
    }
    .rigthpost {
        display: none !important;
    }
    .navcatalog .menu-item {
        display: block !important;
        padding-left: 0px !important;
    }
    .linecatalog {
        display: none;
    }
    .menuchild {
        display: none;
    }
    .is-expanded ul {
        margin-top: 36px !important;
    }
    .layoutcatalog {
        width: 100% !important;
    }
    .leftcatalog {
        width: 100% !important;
        padding-right: 20px;
        padding-left: 25px;
    }
    .catfilters {
        padding-left: 0 !important;
        padding-bottom: 30px;
    }
    .catfilters form {
        margin: 0 auto;
        text-align: center;
    }
    form .countmest {
        z-index: 1 !important;
    }
    form .rayon {
        z-index: 1 !important;
    }
    .catalogsbody {
        padding-top: 0px !important;
    }
    .bgslot {
        height: 180px !important;
    }
    .titlecards a {
        font-size: 22px !important;
        line-height: 27px !important;
    }
    .bodycards {
        padding-top: 10px !important;
        padding-left: 3px !important;
    }
    .layoutckeck p {
        font-size: 12px !important;
    }
    .locationcard {
        padding-top: 16px !important;
    }
    .streetcard {
        padding-left: 0 !important;
    }
    .streetcard a {
        font-size: 12px !important;
    }
    .iconmapcard {
        display: none !important;
    }
    .iconphone {
        display: none !important;
    }
    .phonetitle a {
        font-size: 12px !important;
        padding-left: 0 !important;
    }
    .desccard {
        padding-top: 0 !important;
    }
    .desccard p {
        font-size: 12px !important;
        line-height: 17px !important;
    }
    .kitchen {
        padding-bottom: 10px !important;
    }
    .fishkacard p {
        font-size: 12px !important;
        line-height: 17px !important;
    }
    .singlecard {
        padding-bottom: 30px !important;
    }
    .phonecard {
        padding-top: 10px !important;
        padding-left: 9px !important;
    }
    /*Single old catalog*/
    .lineoldcatalog {
        display: none;
    }
    #singlecontentcat .single-catalog {
        padding-left: 25px;
        padding-right: 20px;
    }
    #singlecontentcat {
        width: 100% !important;
    }
    #singlecontentcat {
        padding-top: 20px !important;
    }
    #singlecontentcat .singlecat-image {
        width: 100% !important;
        padding-bottom: 15px !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
    }
    .twoimg {
        width: 100% !important;
    }
    .headsincat {
        display: none;
    }
    .headsincatmobile {
        display: block !important;
        text-align: center;
        padding-top: 20px;
    }
    .single-catalog .title-single p {
        font-family: "ProximaNova-Regular" !important;
        font-size: 22px !important;
        line-height: 27px;
        text-align: center !important;
    }
    .contact-info {
        padding-top: 20px !important;
    }
    .contact-info .websitecom {
        padding-right: 0 !important;
    }
    .numberphone .hidecontacts {
        margin-top: -10px;
    }
    .desccat p {
        color: #000000 !important;
    }
    .galsingle .title-gall p {
        font-size: 20px !important;
        padding-left: 25px;
    }
    .gellerycat {
        width: 98% !important;
    }
    .titlemap {
        width: 100% !important;
    }
    .titlemap p {
        font-size: 20px !important;
        padding-left: 25px;
    }
    .requment {
        width: 100% !important;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 20px;
    }
    .mywidget__ttl {
        font-family: "ProximaNova-Regular" !important;
        font-size: 18px !important;
        line-height: 27px;
        margin-bottom: 10px;
    }
    .wp-block-columns {
        width: 100% !important;
    }
    .wp-block-columns p {
        display: block !important;
    }
    .catalogtitle p {
        width: 100% !important;
        font-size: 32px !important;
        line-height: 38px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .fishcacatalog p {
        font-size: 18px !important;
        line-height: 21px !important;
    }
    .fishcacatalog {
        padding-bottom: 82px !important;
    }
    .descriptioncaral {
        padding-top: 26px !important;
        width: 100% !important;
        padding-left: 26px;
        padding-right: 19px;
    }
    .contentlayout {
        margin: 0 auto;
        clear: both;
    }
    .lineviews {
        width: 100% !important;
        margin-top: 20px;
    }
    #content {
        padding-bottom: 15px !important;
    }
    #content h2 {
        font-size: 32px !important;
    }
    #content p {
        width: 100%;
        padding-left: 26px;
        padding-right: 19px;
    }
    .mapsector {
        padding-top: 0 !important;
    }
    .gall {
        padding-bottom: 0 !important;
        margin-left: -5px;
    }
    .catnewgall {
        padding-top: 0 !important;
        padding-bottom: 8px !important;
    }
    #content figure {
        width: 100%;
        margin-top: 15px;
    }
    figure iframe {
        width: 100% !important;
    }
    iframe {
        width: 100% !important;
    }
    #content p {
        word-spacing: -4px !important;
        word-wrap: break-word;
    }
    .work {
        padding-top: 15px;
    }
    #content img {
        width: 100% !important;
    }
    .video-gallery {
        width: 100% !important;
    }

    blockquote {
        max-width: 100% !important;
    }
    .wp-block-embed-wordpress {
        height: auto !important;
    }
    #singlecontentcat .aligncenter {
        width: 100% !important;
        height: auto !important;
    }
    .desccat p {
        word-wrap: break-word;
    }
    .scrollbody_m {
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        margin: 0;
    }
    .scrolldescsingle_m {
        white-space: normal;
    }







}




@media (min-width: 481px) and (max-width: 949px) {
    #content .juxtapose {
        width: 100% !important;
        height: 539px !important;
    }
    .wp-block-separator {
        padding-top: 30px;
        border: none;
        border-bottom: 2px solid rgba(37, 38, 44, 0.8) !important;
        max-width: 100% !important;
        margin-top: 5px !important;
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .mobilepost {
        padding-bottom: 32px;
        padding-top: 28px;
    }
    .mobilecaalog {
        padding-bottom: 48px;
    }
    .bodypost_m {
        padding-top: 16px;
    }
    .descsingle_m {
        padding-top: 15px;
    }
    .checkcard {
        padding-top: 10px !important;
        padding-right: 14px !important;
    }
    /*Single old Catalog*/
    .phonecat {
        padding-top: 5px !important;
    }
    .phonecat a {
        font-size: 16px !important;
    }
    .titwebsite .sitehttp a {
        font-size: 16px !important;
    }
}
@media (min-width: 0px) and (max-width: 480px) {
    .contents-cat .streetsingle {
        padding-top: 5px;
    }
    .fishcacatalog p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .websitecom .strelaweb {
        padding-left: 10px !important;
        vertical-align: 0px !important;
    }
    .scrollsinglepost_m {
        margin-bottom: -18px !important;
    }
    #content .juxtapose {
        width: 100% !important;
        height: 300px !important;
    }
    .wp-block-separator {
        padding-top: 30px;
        border: none;
        border-bottom: 2px solid rgba(37, 38, 44, 0.8) !important;
        max-width: 100% !important;
        margin-top: 5px !important;
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .descsingle_m {
        padding-top: 10px;
    }
    .mobilecaalog {
        padding-bottom: 20px;
    }
    .head-cat ul {
        margin-bottom: 11px !important;
    }
    .bodypost_m {
        padding-top: 7px;
    }
    .layoutckeck {
        padding-left: 9px !important;
        padding-right: 9px !important;
    }
    .checkcard {
        padding-top: 10px !important;
        padding-right: 7px !important;
    }
    .characteristic {
        padding-bottom: 10px !important;
    }
    /*Single old Catalog*/
    .phonecat {
        padding-top: 1px !important;
    }
    .phonecat a {
        font-size: 12px !important;
    }
    .titwebsite .sitehttp a {
        font-size: 12px !important;
    }
    .n2-ss-slider-1 {
        height: 200px !important;
    }
    .n2-ss-widget-display-desktop {
        top: 50% !important;
    }
}

/*Height img post on catalog*/
@media (max-width: 480px) and (min-width: 380px){
    .bgpost_m {
        height: 90px !important;
    }
    .mobilepost {
        padding-bottom: 32px;
        padding-top: 28px;
    }
}
@media (max-width: 379px) and (min-width: 0px){
    .bgpost_m {
        height: 120px !important;
    }
    .mobilepost {
        padding-bottom: 32px;
        padding-top: 10px;
    }
}
/*Lines Gutenberg*/
@media (min-width: 950px) {
    .wp-block-separator {
        padding-top: 30px;
        border: none;
        border-bottom: 2px solid rgba(37, 38, 44, 0.8) !important;
        max-width: 100% !important;
        margin-top: 5px !important;
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
/*Filter form*/
@media (min-width: 0px) and (max-width: 680px) {
    .cs-skin-elastic .cs-options span {padding: 1em !important; }
    div.cs-skin-elastic { font-size: 12px !important; }
    form { text-align: left !important; }
    div.cs-skin-elastic { margin-bottom: 10px; }
    .cs-skin-elastic .cs-options { width: 100%; }
    form .laykuch { width: 56%;}
    form .checkcat { width: calc(39% - 5px);}
    form .countmest { width: 39%;}
    form .rayon { width: calc(56% - 5px);}
    .laykuch > span { width: 100% !important; }
    .checkcat > span { width: 100% !important; }
    .countmest > span { width: 100% !important; }
    .rayon > span { width: 100% !important; }

}
/*Title post for catalog*/
@media (min-width: 480px) and (max-width: 949px) {
    .mobiletitlepost {display: none;}
}
@media (min-width: 0px) and (max-width: 479px) {
    .tabletitlepost {display: none;}
}
/*Image post for catalog*/
@media (min-width: 770px) and (max-width: 949px) {
    .singlepost_m {
        width: calc(32% - 3px);
    }
}
@media (min-width: 720px) and (max-width: 769px) {
    .singlepost_m {
        width: calc(31% - -3px);
    }
}
@media (min-width: 680px) and (max-width: 719px) {
    .singlepost_m {
        width: calc(31% - -2px);
    }
}
@media (min-width: 590px) and (max-width: 679px) {
    .singlepost_m {
        width: calc(31% - 0px);
    }
}
@media (min-width: 470px) and (max-width: 589px) {
    .singlepost_m {
        width: calc(31% - 3px);
    }
}
@media (min-width: 380px) and (max-width: 469px) {
    .singlepost_m {
        width: calc(31% - 5px);
    }
}
@media (min-width: 0px) and (max-width: 379px) {
    .singlepost_m {
        width: calc(30% - -4px);
    }
    .scrollsinglepost_m {
        margin-right: 5px;
    }
}
/*blocks colums*/
@media (min-width: 0px) and (max-width: 540px) {
    .wp-block-columns {
        display: block !important;
    }
}
/*Fix NewCatalog*/
@media (min-width: 0px) and (max-width: 539px) {
    .dispayn {
        padding-top: 20px !important;
    }
    .leftcolums {
        display: block !important;
        width: 100% !important;
    }
    .rigthcolums {
        display: block !important;
    }
    .viewsnewcat {
        clear: both;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    .linerigthcatalog {
        display: block !important;
        margin-top: 43px;
        margin-bottom: 39px;
        margin-left: -26px;
        margin-right: -19px;
    }
    .rigthcolums {
        width: 100% !important;
        text-align: center !important;
    }
    .mapcatalog {
        float: inherit !important;
        text-align: center !important;
    }
}
/*Fix WP-Block-Ember*/
@media (max-width: 480px){
    .wp-block-embed-wordpress {
        height: auto !important;
        padding-bottom: 20px !important;
    }
}