/*Scroll menu*/
.container2 {
    width: calc(100vw - 22px);
    margin: 0 auto;
    padding: 0;
    margin-left: 0;
}
.navscroller {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}
.nav-listmobile {
    list-style: none;
    white-space: nowrap;
    padding-left: 0;
    font-size: 20px;
}
.nav-listmobile li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 21px !important;
    padding-left: 0 !important;
}
.nav-listmobile:last-child {
    margin-right: 0;
}
.inlinescroll {
    margin-left: 10px;
    display: inline-block;
}
.mobilenav {
    position: relative;
}
.Dropdown-profile, .Dropdown-nav li .NavLink {
    background: #fff;
    display: block;
    height: 25px;
    padding: 8px;
}
.mobilesearch2 {
    position: absolute;
    right: 20px;
    top: 7px;
}
.Dropdownmobile {
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.Dropdown-profile {
    position: relative;
    text-align: -webkit-center;
}
.Dropdown-profile .Name {
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    padding: 0 0 0 5px;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}
.Name a {
    font-weight: normal;
    color: #000;
}
.Name a:hover {
    opacity: 0.8;
    color: #000;
}
.Dropdown-nav {
    display: none;
    overflow: hidden;
    -webkit-transition: height 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: height 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: height 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.Dropdown-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-top: 20px;
}
.Dropdown-nav li {
    position: relative;
    margin-bottom: 20px;
}
.Dropdown-nav li a {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.Dropdown-nav li a:hover {
    opacity: 0.7;
}
.Dropdown-nav li .OptionLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 22px;
    font-size: 18px;
    margin: auto;
    z-index: 5;
}
.Dropdown-nav li .NavLink {
    line-height: 24px;
}
.Dropdownmobile.is-expanded nav {
    display: inherit;
    width: 100%;
    height: 600px;
}
.MenuIcon {
    bottom: 0;
    top: -4px;
    margin: auto;
    position: absolute;
    left: 14px;
    height: 30px;
    width: 12px;
}

.abountnavbtn {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}
.layoutbtnnav button {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 16px;
    background-color: transparent;
    border: 1px solid #000;
    padding-right: 113px;
    padding-left: 110px;
    padding-top: 18px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
}
.layoutbtnnav button:hover {
    box-shadow: 0 0 5px black;
}
#header_cat .nav-listmobile {
    padding-top: 42px;
}
.head-cat ul {
    margin-bottom: 18px;
}
.Dropdown-profile .Name {
    line-height: inherit !important;
    letter-spacing: inherit !important;
    color: #000000;
}
.mobilesharedbtn a {
    border: 1px solid #000;
    border-radius: 40px;
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
    font-weight: normal;
    cursor: pointer;
    color: #000000;
}
.mobilesharedbtn a:hover {
    box-shadow: 0 0 1px black;
    background-color: #000;
    color: white;
    font-weight: 600;
}
.mobshareface {
    display: inline-block;
}
.mobsharetwit {
    display: inline-block;
    padding-left: 17px;
    padding-right: 17px;
}
.mobsharevk {
    display: inline-block;
}
.mobileshare {
    display: none;
}
.mobile_sub {
    display: none;
}
.mobiledatelongread {
    display: none;
}
.mobileelement {
    display: none;
}
.wp-embed p {
    font-family: "FuturaPT-Light" !important;
}


 


