*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.laykuch {
	margin-right: 9.9px;
}
.checkcat {
	margin-right: 8px;
}
.countmest {
	margin-right: 7.5px;
}
.laykuch > span {
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 1px #f0f0f0;
	z-index: 100;
	width: 132px;
}
.laykuch > span:hover {
	border: solid 1px #000000;
}
.laykuch > span:hover .cs-skin-elastic > span::after {
	color: #000000;
}
.checkcat > span {
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 1px #f0f0f0;
	z-index: 100;
	width: 150px;
}
.checkcat > span:hover {
	border: solid 1px #000000;
}
.countmest > span {
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 1px #f0f0f0;
	z-index: 100;
	width: 154.9px;
}
.countmest > span:hover {
	border: solid 1px #000000;
}
.rayon > span {
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 1px #f0f0f0;
	z-index: 100;
	width: 161.6px;
}
.rayon > span:hover {
	border: solid 1px #000000;
}
.cs-options li:hover {
	background-color: #fffe90;
}

section {
	text-align: left;
}
