.democracy .dem-poll-title{
    display: none;
}
.democracy .dem-poll-info {
    display: none;
}
.dem-bottom {
    display: none;
}
.democracy .dem-graph {
    font-family: 'PT Sans', sans-serif;
    width: 39%;
}
.dem__radio_label {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}
.dem-answers .dem-label {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}
.dem-poll-shortcode {
    margin-bottom: -1.5em;
}
