* {
    margin: 0;
    padding: 0;
}
#header_cat {
    padding-top: 0 !important;
}
#head_bottom a {
    color: #888e95;
    text-decoration: none;
}
#content a {
    text-decoration: none;
    /*color: #333333;*/
    font-weight: 400;
}
#content a:hover{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    text-shadow: 0 0 1px black;
}
a {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
/*Header*/
.edamodastyleru {
    padding-top: 24px;
    text-align: center;
}
.edamodastyleru a {
    width: 254px;
    height: 47px;
    opacity: 0.84;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.category-drop {
    padding-top: 24px;
    width: 940px;
    margin: 0 auto;
}
.menu-item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 28px;
}
.menu-item a {
    height: 19px;
    opacity: 0.6;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    text-transform: uppercase;
}
.menu-item a:hover {
    opacity: 1.6;
}
.view-catalog img {
    padding-right: 4px;
    width: 16px;
    vertical-align: -2px;
    height: 16px;
}
.view-catalog {
    font-family: 'Lucida Grande';
    font-size: 14px;
    color: #888e95;
    padding-right: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    padding-bottom: 20px;
}
.linecatsingle {
    margin-top: 30px;
    height: 1px;
    background-color: #0000001a;
    border-style: none;
}
